:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #8e9c00;
  --color-texto: #000000;
  --color-enlace: #acbd00;
  --color-enlace-hover: #a5ad4a;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.omb-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
/* seccion logo y texto*/
.omb-section--logo {
  height: 149px;
  align-items: center;
  padding-bottom: 0;
}
.omb-logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.omb-titulo-libro-mapa-container {
  width: 90%;
}
.omb-titulo-section {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 26px;
  color: var(--color-texto);
  font-family: "Montserrat", "sans-serif";
}
.omb-titulo-section--color {
  color: var(--color-enlace);
}
.omb-titulo-section--padding {
  padding-left: 16px;
  margin: 0;
}

.omb-logo-libro-mapa {
  display: flex;
  align-items: center;
  border-right: 1px solid #d3d3ca;
  width: 295px;
  height: 85px;
  gap: 16px;
  border-right-width: 1px;
  padding-right: 20px;
  box-sizing: border-box;
}
.omb-logo-libro-mapa img {
  width: 140px;
}
.omb-parrafo-descripcion-logo {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 18px;
  color: var(--color-texto);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.omb-logo-libro-mapa h2 {
  width: 152px;
  height: 56px;
}

.omb-libro-mapas-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-image: url("http://101.44.24.97/sites/default/files/2025-07/omb-ldm-map-bg.webp");
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: #eaedf5;
  padding-bottom: 40px;
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.omb-decoracion {
  position: absolute;
  height: 32px;
  width: 100px;
  top: 0px;
}
.omb-decoracion-abajo {
  position: absolute;
  height: 32px;
  width: 100px;
  bottom: -32px;
}
.omb-decoracion img {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
.omb-mapa-container {
  width: 90%;
  padding-top: 40px;
}

.omb-titulo-container-mapas {
  max-width: 100%;
  height: 59px;
  margin: 16px 0;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-left-width: 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2.75rem;
  border-left: 4px solid var(--color-primario);
  border-radius: 0 8px 8px 0;
}
.omb-cards-mapa-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.omb-map-card {
  width: 406px;
  height: 277px;
  gap: 12px;
  border-radius: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
}
.omb-map-card:hover {
  border: 1px solid black;
}

.omb-map-card:hover .omb-descripcion-number {
  background-color: var(--color-primario);
}
.omb-map-card-img {
  width: 100%;
  border-radius: 8px;
}
.omb-blur-card-map {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: rgba(76, 83, 30, 0.1);
}

.omb-map-card h5:hover {
  color: #bed000; /* Cambia el color al que desees */
}

.omb-descripcion-container {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  width: 100%;
  position: absolute;
  transform: translateY(-46px);
  transition: all 0.3s ease;
  left: 0;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  box-sizing: border-box;
  border-top: 4px solid transparent;
}
.omb-descripcion-container-alzado {
  transform: translateY(-132px);
  border-color: var(--color-primario);
}
.omb-map-card:hover .omb-descripcion-container-variante {
  background-color: var(--color-primario);
}

.omb-titulo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 62px;
}
.omb-titulo-container h5 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: var(--color-texto);
  margin: 0;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  text-decoration: underline;
}
.omb-descripcion-number {
  width: 32px;
  height: 32px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.omb-map-card:hover .omb-descripcion-number-variante {
  background-color: #fff;
}

.omb-descripcion-container p {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  margin: 0;
  color: var(--color-texto);
  font-family: "Work sans", sans-serif;
  min-height: 76px;
  padding-left: 40px;
}

.omb-section-recursos {
  padding-top: 40px;
}
.omb-recursos-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.omb-titulo-container-recursos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
}
.omb-titulo-container-recursos h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
  text-align: center;
}
.omb-titulo-container-recursos p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1a1a1a;
  text-align: center;
  margin-top: 0;
}
.omb-card-recursos-container {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.omb-card-recursos {
  width: 260px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 16px;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  cursor: pointer;
}
.omb-card-recursos:hover h5 {
  color: var(--color-enlace);
}
.omb-card-recursos:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-card-recursos img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
}
.omb-card-recursos h5 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: var(--color-texto);
  margin: 0;
  min-height: 54px;
  padding: 0px 16px;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
}
.omb-card-recursos p {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  margin: 0;
  padding: 0px 16px;
  color: #4d4d4d;
  font-family: "Work sans", sans-serif;
  min-height: 72px;
  color: var(--color-texto);
}
@media (min-width: 768px) {
  .omb-titulo-container-mapas {
    width: 544px;
  }
  .omb-map-card {
    width: 330px;
  }
  .omb-descripcion-container {
    transform: translateY(-0px);
  }
  .omb-descripcion-container-alzado {
    transform: translateY(-90px);
    border-color: var(--color-primario);
  }
  .omb-logo-libro-mapa img {
    width: 256px;
  }
  .omb-parrafo-descripcion-logo {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 26px;
    color: var(--color-texto);
    margin: 0;
    font-family: "Montserrat", "sans-serif";
  }
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .omb-titulo-libro-mapa-container,
  .omb-mapa-container,
  .omb-recursos-container {
    max-width: 960px;
  }
  .omb-logo-container {
    max-width: 853px;
  }
  .omb-titulo-container-mapas {
    width: 544px;
    border-radius: 0px 16px 16px 0px;
  }
  .omb-map-card {
    width: 400px;
  }

  .omb-descripcion-container {
    transform: translateY(-44px);
  }
  .omb-descripcion-container-alzado {
    transform: translateY(-132px);
    border-color: var(--color-primario);
  }
  .omb-titulo-container-recuros {
    width: 880px;
  }
  .omb-card-recursos {
    width: 207px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-parrafo-descripcion-logo {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
    margin: 0;
    font-family: "Montserrat", "sans-serif";
  }
}

@media (min-width: 1140px) and (max-width: 1359px) {
  .omb-titulo-libro-mapa-container,
  .omb-mapa-container,
  .omb-recursos-container {
    max-width: 1140px;
  }
  .omb-logo-container {
    max-width: 853px;
  }
  .omb-titulo-container-mapas {
    width: 544px;
    border-radius: 0px 16px 16px 0px;
  }
  .omb-map-card {
    width: 400px;
  }
  .omb-descripcion-container {
    transform: translateY(-40px);
  }
  .omb-descripcion-container-alzado {
    transform: translateY(-132px);
    border-color: var(--color-primario);
  }
  .omb-titulo-container-recuros {
    width: 880px;
  }
  .omb-parrafo-descripcion-logo {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
    margin: 0;
    font-family: "Montserrat", "sans-serif";
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}
@media (min-width: 1280px) {
  .omb-titulo-libro-mapa-container,
  .omb-mapa-container,
  .omb-recursos-container {
    max-width: 1140px;
  }
  .omb-logo-container {
    max-width: 853px;
  }
  .omb-titulo-container-mapas {
    width: 544px;
    border-radius: 0px 16px 16px 0px;
  }
  .omb-titulo-container-recuros {
    width: 880px;
  }
  .omb-map-card {
    width: 360px;
  }
  .omb-descripcion-container {
    transform: translateY(-20px);
  }
  .omb-descripcion-container-alzado {
    transform: translateY(-110px);
    border-color: var(--color-primario);
  }
  .omb-parrafo-descripcion-logo {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
    margin: 0;
    font-family: "Montserrat", "sans-serif";
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}
