:root {
  --primario-yellow: #f9ffbd;
  --secundario-yellow: #dbf000;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
main {
  max-width: 1280px;
  margin-top: 40px;
}
.omb-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.omb-button {
  background-color: var(--primario-yellow);
  width: 304px;
  height: 62px;
  border: none;
  padding: 12px 16px 12px 16px;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  color: #71735e;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 12px;
  position: relative;
}

.omb-button__width {
  width: 336px;
}
.omb-button:hover {
  background-color: var(--secundario-yellow);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #000;
}

.omb-button__secundario {
  background-color: inherit;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.omb-content-button-active {
  color: #000;
  background-color: var(--secundario-yellow);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.omb-content-button-active::before {
  content: "";
  position: absolute;
  right: -12px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 14px solid var(--secundario-yellow);
  border-bottom: 8px solid transparent;
}

.omb-icon-button {
  width: 46px;
  height: 46px;
  padding: 4px;
}
.omb-sidebar {
  width: 304px;
  height: 545px;
  background: linear-gradient(180deg, #f9ffbd 0%, #ffffff 100%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-top: 10px;
}

.omb-sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  gap: 16px;
}
.omb-sidebar-list-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.omb-map-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  flex: 1;
}

.omb-map-card {
  width: 320px;
  height: 342px;
  gap: 12px;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
}
.omb-map-card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #ffffff 0%, #fefff5 100%);
  transform: scale(1.01);
}

.omb-map-card-img {
  width: 288px;
  height: 208px;
  border-radius: 8px;
}
.omb-map-card h2:hover {
  color: #bed000; /* Cambia el color al que desees */
}

.omb-map-card h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  min-height: 42px;
}
.omb-map-card-tags-container {
  display: flex;
  width: 288px;
  height: 56px;
  gap: 6px;
}
.omb-map-card-tag {
  width: auto;
  min-width: 73px;
  height: 25px;
  border-radius: 16px;
  padding: 6px 12px 6px 12px;
  background-color: #f3f4f1;
  color: #71735e;
  font-size: 11px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
}

.omb-map-card-tag:hover {
  background-color: var(--primario-yellow);
}
