:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #ecff24;
  --color-boder-tab: #8e9c00;
  --color-texto: #000000;
  --color-enlace: #515900;
  --color-enlace-hover: #a5ad4a;
  --color-hover-secundario: #515900;
  --color-fondo-seccion-intreres: #f3f4f1;
  --color-strong: #c4d600;
  --color-govco: #004884;
  --color-govco-hover: #3366cc;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.omb-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.omb-titulo-section {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-mapa-sito-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.omb-acordion {
  width: 100%;
  border: 1px solid var(--color-fondo-seccion-intreres);
}
.omb-acordion-boton {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: inherit;
  border: 0;
  min-height: 4.375rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transition: all 0.3s ease;
  border: 1px solid var(--color-fondo-seccion-intreres);
}
.omb-acordion--nivel-2 {
  background-color: var(--color-primario-soft);
}

.omb-acordion-boton--nivel-2 {
  padding: 8px 16px 8px 26px;
}

.omb-titulo-botton-acordeon {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: var(--color-texto);
  margin: 0;
  color: var(--color-enlace);
}

.omb-flecha-acordion {
  transform: rotate(0deg);
  transition: all 0.3s ease;
  color: var(--color-enlace);
}
.omb-acordion-boton.activo .omb-flecha-acordion {
  transform: rotate(180deg);
}

.omb-titulo-botton-acordeon {
  display: flex;
  align-items: center;
  gap: 16px;
}
.omb-icono-titulo-acordion img {
  width: 40px;
}

.omb-acordion-content {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease;
  box-sizing: border-box;
}
.omb-acordion-content.abierto {
  padding: 0rem;
  max-height: 1000px;
}
.omb-acordion-content--nivel-2 {
  background-color: #fff;
}
.omb-acordion-content--nivel-2.abierto {
  max-height: 1000px;
}

.omb-lista-sitios {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  box-sizing: border-box;
}

.omb-lista-sitios-item {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: "Work sans", sans-serif;
  font-weight: 600;
  color: var(--color-enlace);
  text-decoration: none;
  margin-bottom: 22px;
}
.omb-lista-sitios-item a {
  color: var(--color-enlace);
}

@media (min-width: 768px) {
  .omb-lista-sitios-item {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .omb-titulo-botton-acordeon {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .omb-acordion-boton {
    padding: 2.188rem 1.5rem 2.188rem 2.375rem;
  }
  .omb-acordion-boton--nivel-2 {
    padding: 1.438rem 1.5rem 1.438rem 3.125rem;
  }
  .omb-lista-sitios {
    padding: 1.875rem 3.125rem;
  }
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .omb-lista-sitios-item {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .omb-titulo-botton-acordeon {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .omb-titulo-botton-acordeon--nivel-2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .omb-lista-sitios {
    padding: 1.875rem 3.125rem;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}

@media (min-width: 1140px) and (max-width: 1359px) {
  .omb-mapa-sito-container {
    width: 1140px;
  }
  .omb-lista-sitios-item {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .omb-titulo-botton-acordeon {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .omb-titulo-botton-acordeon--nivel-2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .omb-lista-sitios {
    padding: 1.875rem 3.125rem;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}

@media (min-width: 1280px) {
  .omb-mapa-sito-container {
    width: 1140px;
  }
  .omb-lista-sitios-item {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .omb-titulo-botton-acordeon {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .omb-titulo-botton-acordeon--nivel-2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .omb-lista-sitios {
    padding: 1.875rem 3.125rem;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}
