.omb-footer {
  font-family: sans-serif;
  background: #edf2b3;
  color: #000;
  margin-top: 4rem;
  height: calc(529px + 72px);
  width: 100%;
  position: relative;
}
.omb-footer__top {
  max-width: 1200px;
  background: #fff;
  border-radius: 16px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -90px;
}
.omb-footer__content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}
.omb-footer__contact {
  flex: 2;
  font-size: 14px;
}
.omb-footer__contact strong {
  font-size: 16px;
  display: block;
  margin-bottom: 0.5rem;
}
.omb-footer__contact a {
  color: #acbd00 !important;
  text-decoration: none;
}
.omb-footer__contact a:hover {
  text-decoration: underline;
}
.omb-footer__contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.omb-footer__contact ul li {
  margin-bottom: 0.5rem;
}
.omb-footer__logos {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.omb-footer__logos img {
  max-height: 94px;
  object-fit: contain;
}
.omb-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 1rem 2rem;
  font-size: 14px;
  border-top: 2px solid #e0e0e0;
}
.omb-footer__social img {
  width: 64px;
  margin-left: 1rem;
  opacity: 0.7;
}
.omb-footer__gov {
  background: #c7da00;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.omb-footer__gov img {
  height: 40px;
}
