:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #ecff24;
  --color-texto: #000000;
  --color-enlace: #515900;
  --color-enlace-hover: #a5ad4a;
  --color-fondo-seccion-intreres: #f3f4f1;
  --color-strong: #c4d600;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
.omb-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.omb-titulo-section {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-titulo-section--color {
  color: var(--color-enlace);
}
.omb-titulo-section--padding {
  padding-left: 16px;
  margin: 0;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 26px;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-section--de-interes {
  background-color: var(--color-fondo-seccion-intreres);
}

.omb-filtro-tematica-container {
  width: 90%;
}
.omb-filtros {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.omb-inputs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  box-shadow: 0px 0px 10px rgba(134, 129, 129, 0.25);
  border-radius: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 24px;
  padding: 16px;
}
.omb-select {
  position: relative;
}
.omb-select--con-dos-elementos {
  position: relative;
  display: flex;
  width: 100%;
  gap: 4px;
}
.omb-boton-filtro-container {
  height: 67px;
  display: flex;
  align-items: end;
}

.omb-select p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}

.omb-opcion-selecionada {
  width: 354px;
  border-radius: 24px;
  padding: 0px 16px;
  height: 40px;
  font-family: "Work sans", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 500;
  appearance: none;
  border: 1px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--color-texto);
  position: relative;
  background-color: var(--color-fondo-seccion-intreres);
  justify-content: space-between;
}
.omb-opcion-selecionada::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg); /* Rota 180° */
  width: 24px;
  height: 24px;
  background: url("http://101.44.24.97/sites/default/files/2025-07/flecha%20select.svg")
    no-repeat center;
  background-size: contain;
  transition: all 0.3s ease-in;
}

.omb-opcion-selecionada.activo::after {
  transform: translateY(-50%) rotate(-90deg);
}

.omb-opcion-selecionada--ordenar {
  width: 272px;
}
.omb-opciones {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 16px;
  padding: 16px 0px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  position: absolute;
  width: 356px;
  background-color: #fff;
  overflow: hidden;
  top: 52px;
  z-index: 1;
}

.omb-opciones li {
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s ease;
}
.omb-opciones li:hover {
  background-color: var(--color-primario);
}
.omb-opciones li:focus-visible {
  background-color: var(--color-primario);
}
.omb-opciones--ordenar {
  width: 272px;
}

.omb-boton {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  border-width: 0.125rem;
  border-style: solid;
  color: var(--color-texto);
  cursor: pointer;
  box-sizing: border-box;
}
.omb-boton--primario {
  background-color: var(--color-primario);
  border-color: var(--color-primario);
}
.omb-boton--con-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.omb-boton--filtro {
  padding: 4px 1rem;
}
.omb-boton:hover {
  background-color: var(--color-secundario-hover);
  border-color: var(--color-secundario-hover);
}
.omb-sin-resultado {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.omb-tematicas-container {
  width: 90%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.omb-titulo-resultado-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 8px;
}

.omb-cards-resultados-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1128px;
  overflow: hidden;
  gap: 16px;
  padding: 8px;
  box-sizing: border-box;
}

.omb-card-resultado {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.omb-card-resultado:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-card-tipo {
  color: var(--color-enlace);
  font-weight: 700;
  cursor: pointer;
  width: auto;
  border-radius: 8px;
  margin-left: 28px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Work sans", sans-serif;
}

.omb-titulo-card {
  max-width: 468px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.3s ease-in;
  min-height: 53px;
}

.omb-titulo-card--con-icono {
  display: flex;
  color: var(--color-enlace);
  padding: 0;
}
.omb-titulo-card span {
  display: flex;
  align-items: start;
  justify-content: center;
}
.omb-titulo-card--color {
  color: var(--color-enlace);
}
.omb-titulo-card--color:hover {
  color: var(--color-enlace-hover);
}

.omb-parrafo-card {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: black;
  max-width: 300px;
  height: 53px;
}
.omb-parrafo-card--padding {
  padding-left: 28px;
}
.omb-fecha {
  font-size: 0.875rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  margin: 4px 0px 0px;
  color: #71735e;
  padding-left: 16px;
}
.omb-fecha--padding {
  padding: 0 28px;
}
.omb-tags-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
}
.omb-tags-card-container--padding {
  padding-left: 28px;
}
.omb-tag-card {
  width: auto;
  min-width: 150px;
  height: 24px;
  border-radius: 16px;
  padding: 6px 12px 6px 12px;
  background-color: #f3f4f1;
  color: #71735e;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  gap: 4px;
  font-family: "Work-sans", sans-serif;
}

.omb-tag-icono {
  width: 12px;
  height: 12px;
}

.omb-enlaces {
  gap: 4px;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--color-enlace);
  cursor: pointer;
  text-decoration: underline;
}

.omb-enlaces:hover {
  color: var(--color-enlace-hover);
}
.omb-paginacion-numerica {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.omb-paginacion-numerica ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 0;
  align-items: center;
}

.omb-paginacion-enlace {
  font-weight: 600;
  font-family: "Work sans", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.625rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.3s ease-in;
  color: var(--color-enlace-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  background-color: inherit;
}

.omb-pagination-numero {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: none;
  background-color: inherit;
  text-decoration: none;
}

.omb-paginacion-enlace--activo {
  background-color: var(--color-primario);
  border-radius: 8px;
  color: var(--color-texto);
}

.omb-buton-ver-resultado {
  border: none;
  background-color: inherit;
  margin: 8px 0px;
  cursor: pointer;
}
.hidden {
  display: none;
}
@media (min-width: 768px) {
  .omb-inputs-container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  .omb-select {
    width: 320px;
  }
  .omb-select--con-dos-elementos {
    gap: 16px;
  }
  .omb-opciones {
    width: 320px;
  }
  .omb-opcion-selecionada--ordenar {
    width: 320px;
  }
  .omb-opcion-selecionada {
    width: 320px;
  }

  .omb-boton-filtro-container {
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 320px;
  }
  .omb-boton {
    width: 100%;
  }
  .omb-opciones--ordenar {
    width: 320px;
  }
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .omb-filtros,
  .omb-filtros-container,
  .omb-filtro-tematica-container {
    max-width: 960px;
  }
  .omb-inputs-container {
    justify-content: start;
    gap: 40px;
  }
  .omb-boton-filtro-container {
    max-width: 960px;
  }
  .omb-tematicas-container {
    max-width: 960px;
  }
  .omb-titulo-resultado-container {
    width: 100%;
  }
  .omb-cards-resultados-container {
    width: 100%;
  }

  .omb-boton-filtro-container {
    display: flex;
    height: auto;
    justify-content: center;
    width: 280px;
  }
  .omb-select {
    width: 240px;
  }
  .omb-select--con-dos-elementos {
    gap: 4px;
  }
  .omb-opcion-selecionada {
    width: 240px;
  }

  .omb-opcion-selecionada--ordenar {
    width: 240px;
  }
  .omb-opciones--ordenar {
    width: 240px;
  }
  .omb-opciones {
    width: 240px;
  }
  .omb-boton {
    width: 100%;
  }

  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}

@media (min-width: 1140px) and (max-width: 1359px) {
  .omb-filtros,
  .omb-filtros-container,
  .omb-filtro-tematica-container {
    max-width: 1140px;
  }
  .omb-inputs-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .omb-boton-filtro-container {
    max-width: 1140px;
  }
  .omb-tematicas-container {
    max-width: 1140px;
  }
  .omb-titulo-resultado-container {
    width: 100%;
  }
  .omb-cards-resultados-container {
    width: 100%;
  }
  .omb-select {
    width: auto;
  }
  .omb-opcion-selecionada {
    width: 240px;
  }
  .omb-opciones--ordenar {
    width: 240px;
  }
  .omb-opciones {
    width: 240px;
  }
  .omb-boton-filtro-container {
    display: flex;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 280px;
    height: 67px;
    align-items: end;
  }
  .omb-boton {
    width: 100%;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-opciones--ordenar {
    width: 240px;
  }
}
@media (min-width: 1280px) {
  .omb-filtros,
  .omb-filtros-container,
  .omb-filtro-tematica-container {
    max-width: 1140px;
  }
  .omb-inputs-container {
    justify-content: space-between;
  }
  .omb-boton-filtro-container {
    max-width: 1140px;
  }
  .omb-tematicas-container {
    max-width: 1140px;
  }
  .omb-titulo-resultado-container {
    width: 100%;
  }
  .omb-cards-resultados-container {
    width: 100%;
  }
  .omb-select {
    width: 280px;
  }
  .omb-select--con-dos-elementos {
    gap: 4px;
    width: 320px;
  }
  .omb-opcion-selecionada {
    width: 100%;
  }
  .omb-opcion-selecionada--ordenar {
    width: 240px;
  }
  .omb-opciones {
    width: 280px;
  }
  .omb-boton-filtro-container {
    display: flex;
    height: auto;
    justify-content: center;
    width: 280px;
  }
  .omb-boton {
    width: 100%;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-opciones--ordenar {
    width: 240px;
  }
}
