:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #8e9c00;
  --color-texto: #1b1b1b;
  --color-enlace: #acbd00;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  margin-top: 40px;
}

.omb-boton-sidebar--con-icono {
  background-color: var(--color-primario);
  width: 265px;
  height: 62px;
  border: none;
  padding: 0px 0px 0px 16px;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 12px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.omb-boton-sidebar--sin-icono {
  background-color: var(--color-primario);
  width: 265px;
  height: 62px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 12px;
  position: relative;
  gap: 8px;
  padding: 8px 32px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.omb-button-sidebar--width {
  width: 297px;
}
.omb-button:hover {
  background-color: #8e9c00;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.omb-button__secundario {
  background-color: #ffffff;
  padding: 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.omb-content-button-active {
  color: white;
  background-color: #8e9c00;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.omb-content-button-active::before {
  content: "";
  position: absolute;
  right: -12px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 14px solid #8e9c00;
  border-bottom: 8px solid transparent;
}

.omb-icon-button {
  width: 46px;
  height: 46px;
  padding: 4px;
}

.omb-sidebar {
  width: 297px;
  height: auto;
  background: var(--color-primario);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 10px;
}

.omb-sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  gap: 16px;
}
.omb-sidebar-list-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.omb-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.omb-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.omb-info-articulo-container {
  width: 1280px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.omb-titulo-section {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-titulo-section--centrado {
  text-align: center;
}
.omb-parrafo-descripcion-section--centrado {
  text-align: center;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-texto);
  font-family: "Work Sans", sans-serif;
  margin-top: 0;
}

.omb-enlaces {
  gap: 4px;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--color-enlace);
  text-decoration: underline;
}

.omb-parrafos {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  font-family: "Work sans", sans-serif;
  color: var(--color-texto);
}

.omb-sidebar-derecho {
  width: 354px;
  height: 1200px;
  border-radius: 16px;
  padding-right: 8px;
  padding-bottom: 32px;
  padding-left: 8px;
  box-sizing: border-box;
  background-color: var(--color-primario);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.omb-titulo-card-sidebar {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: var(--color-texto);
}

.omb-card-sidebar-derecho {
  border-radius: 16px;
  background-color: #fff;
  width: 304px;
  height: 193px;
  gap: 16px;
  border-radius: 16px;
  padding: 16px;
}

.omb-lista-enumerda {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px;
}

.omb-item-lista-enumerada {
  font-family: "Work sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-texto);
}

.omb-explorar-interes-container {
  width: 1280px;
  position: relative;
}

.swiper {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}
.swiper-variante--home {
  width: 75%;
  margin: 0;
}
.omb-wrapper {
  width: 100%;
}

.omb-swiper-slide {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.omb-pagination {
  position: absolute;
  bottom: -10px !important;
}

.omb-pagination > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 2px solid #4b521d;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}
/* Bullet activo */
.omb-pagination > .swiper-pagination-bullet-active {
  background-color: #4b521d !important;
  border-color: #4b521d;
  transform: scale(1.2);
}

.omb-botom-control-carrousel {
  position: absolute;
  z-index: 20;
  bottom: -12px;
  min-width: 120px;
  height: 34px;
  width: auto;
  cursor: pointer;
}

.omb-botom-control-carrousel button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.omb-contenedor-buttones {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.omb-boton-prev {
  left: -100px;
}
.omb-boton-next {
  right: -100px;
}
.omb-boton-prev,
.omb-boton-next {
  color: #565747 !important;
  background-color: #f3f4f1cc;
  width: 53px;
  height: 53px;
  border-radius: 8px;
  border-width: 1px;
  transition: all 0.5s ease;
  border: 1px solid #d9e36e;
}
.omb-boton-prev:hover,
.omb-boton-next:hover {
  color: black !important;
  background-color: var(--color-primario);
}
.omb-boton-prev::after,
.omb-boton-next::after {
  font-size: 32px;
  font-weight: 900;
}

.omb-card-informativa-primaria {
  width: 297px;
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 16px;
}
.omb-card-informativa-primaria:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-card-informativa-segundaria-sin-parrafo {
  width: 400px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
.omb-card-informativa-segundaria-sin-parrafo:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-imagen-card-informativa-segundaria-sin-parrafo {
  width: 100%;
  height: 260px;
}

.omb-titulo-card-informativa {
  min-height: 53px;
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.9s ease-in;
}

.omb-parrafo-card-informativa {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: var(--color-texto);
  min-height: 72px;
}
.omb-titulos-fuentes-section {
  min-height: 53px;
  font-weight: 600;
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.9s ease-in;
}

.omb-botom-primario {
  width: auto;
  height: 40px;
  background-color: var(--color-primario);
  font-family: "Work sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border-radius: 32px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.omb-botom-primario:hover {
  background-color: var(--color-secundario-hover);
  color: #fff;
}

.omb-botom-secundario {
  width: auto;
  height: 40px;
  background-color: #fff;
  font-family: "Work sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 32px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid var(--color-primario);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.omb-botom-secundario:hover {
  background-color: var(--color-primario);
  color: #000;
}

.omb-boton-suscripcion {
  height: 40px;
  gap: 6px;
  border: none;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--color-primario);
  color: black;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease-in;
  border: 1px solid transparent;
}

/*boton*/
.omb-boton {
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  border-width: 0.125rem;
  border-style: solid;
  color: var(--color-texto);
  cursor: pointer;
}
.omb-boton--primario,
.omb-boton-secundario {
  border-color: var(--color-primario);
}
.omb-boton--primario {
  background-color: var(--color-primario);
}
.omb-boton-secundario {
  background-color: #fff;
}

.omb-boton--con-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/*fuetes*/

.omb-fuentes {
  width: 1280px;
  height: 140px;
  background-color: #e6e6e6;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.omb-fuentes-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.omb-fuentes-item {
  width: 332px;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  border-left-width: 1px;
  border: 1px solid #ffffff;
}

.omb-fuentes-item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1b1b1b;
  margin: 0;
}
.omb-fuentes-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #1b1b1b;
  margin: 0;
  font-family: "Work sans", sans-serif;
}
.omb-botom-container {
  flex: 1;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
