:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #ecff24;
  --color-boder-tab: #8e9c00;
  --color-texto: #000000;
  --color-enlace: #acbd00;
  --color-enlace-hover: #a5ad4a;
  --color-fondo-seccion-intreres: #f3f4f1;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.omb-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.omb-section--de-interes {
  background-color: var(--color-fondo-seccion-intreres);
  padding-bottom: 80px;
}

.omb-breadcrumb-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.omb-breadcrumb-container {
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 0px;
  margin: 20px 0px;
}

.omb-breadcrumb-lista {
  display: flex;
  align-self: center;
  justify-content: center;
  list-style: none;
  color: #bbbcae;
  height: 25px;
  border-radius: 16px;
  padding: 0px;
  box-sizing: border-box;
}
.omb-breadcrumb-lista span {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #4c4c4c;
}
.omb-breadcrumb-lista li {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.4rem 0.3rem 0.8rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  font-family: "Work sans", sans-serif;
}
.omb-breadcrumb-lista li a {
  color: #4c4c4c;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  font-family: "Work sans", sans-serif;
}
.omb-breadcrumb-lista li:not(:last-child)::after {
  float: left;
  padding-left: 0.8rem;
  color: #282c34;
  content: var(--bs-breadcrumb-divider, ">");
  font-weight: 500; /* No existe 'medium' como valor válido, usa 500 */
}
.omb-breadcrumb-lista li a:hover {
  color: #000;
}

.omb-card-contexto-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.omb-card-contexto-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 90%;
}

.omb-texto-card-contexto {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
}
.omb-titulo-card-contexto {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  margin: 16px 0;
}
.omb-titulo-card-container {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin: 16px 0px;
  gap: 8px;
}

.omb-parrafo-card-contexto {
  font-size: 16px;
  font-weight: 400;
  font-family: "Work sans", sans-serif;
  line-height: 30px;
  letter-spacing: 0;
  color: #1b1b1b;
  margin: 0;
}
.omb-icono-container {
  width: auto;
  height: auto;
  padding: 8px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(103, 108, 46, 0.1);
}
.omb-icon-card-contexto {
  width: auto;
  height: auto;
  padding: 20px;
  background: #dbf000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.omb-imagen-card-contexto {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.omb-fuentes-container {
  width: 90%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.omb-fuentes-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: #e6e6e6;
}
.omb-fuente-doble {
  display: flex;
  flex-direction: column;
}
.omb-fuentes-item {
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  border-left-width: 1px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
.omb-boton-fuentes-container {
  background-color: #fff;
}

.omb-titulo-fuentes {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  margin: 0;
}
.omb-parrafo-fuentes {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #1b1b1b;
  margin: 0;
  font-family: "Work sans", sans-serif;
}
.omb-boton-fuentes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.omb-boton {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  border-width: 0.125rem;
  border-style: solid;
  color: var(--color-texto);
  cursor: pointer;
}
.omb-boton--primario {
  background-color: var(--color-primario);
  border: 1px solid var(--color-primario);
}
.omb-boton--primario:hover {
  background-color: var(--color-secundario-hover);
  border-color: var(--color-secundario-hover);
}
.omb-boton--con-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.omb-acordion-container {
  width: 90%;
}
.omb-acordion {
  width: 100%;
}
.omb-acordion-boton--home {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #fff;
  border: 0;
  min-height: 4.375rem;
  padding: 0 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transition: all 0.3s ease;
  border-left: 4px solid var(--color-primario);
}

.omb-flecha-acordion {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
.omb-acordion-boton--home.activo .omb-flecha-acordion {
  transform: rotate(0deg);
}
.omb-acordion-boton--home:hover {
  border-left: 4px solid var(--color-boder-tab);
  background-color: var(--color-primario);
}
.omb-acordion-boton--home.activo {
  border-left: 4px solid var(--color-boder-tab);
  background-color: var(--color-primario);
}
.omb-titulo-botton-acordeon {
  display: flex;
  align-items: center;
  gap: 16px;
}
.omb-icono-titulo-acordion img {
  width: 40px;
}

.omb-acordion-content {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.4s ease;
  box-sizing: border-box;
  padding: 1rem 0px;
}
.omb-acordion-contenido--home.abierto {
  padding: 1rem 0px;
}

.omb-grafica-section {
  display: none;
}

.omb-grafica-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.omb-selectores-grafica-container {
  width: 90%;
  height: 70px;
  border: 2px solid var(--color-primario);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 100px;
  position: relative;
  padding-bottom: 2px;
}
.omb-nav-grafica {
  width: 90%;
  height: 100%;
}
.omb-lista-selectores-grafica {
  display: flex;
  justify-items: center;
  gap: 16px;
  list-style: none;
  margin: 0;
  position: absolute;
  padding-left: 12px;
}
.omb-botones-lista {
  height: 70px;
  padding: 24px 16px 24px 16px;
  gap: 8px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 21px;
  line-height: 100%;
  border: none;
  background-color: #e6e6e6;
  color: #000;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.omb-botones-lista:hover {
  border: 1px solid transparent;
  color: #212400;
  background: var(--color-primario);
}

.omb-botones-lista-seleccionado {
  border: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: var(--color-primario);
  color: #212400;
}
.omb-grafica-mobile {
  width: 90%;
  height: 600px;
  text-align: center;
}
.omb-grafica {
  width: 90%;
  height: 600px;
  text-align: center;
}

.omb-compartir-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 24px;
  padding: 12px;
  background-color: #e6e6e6;
  box-sizing: border-box;
}

.omb-redes-sociales {
  width: 424px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.omb-redes-sociales p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
  margin: 0;
}
.omb-lista-redes {
  display: flex;
  gap: 8px;
}
.omb-lista-redes a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c531e;
  border-radius: 50%;
  padding: 8px;
}
.omb-de-interes-container {
  width: 90%;
  position: relative;
}

.omb-contexto-section {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.omb-contexto-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.omb-titulos-contexto-container {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #000;
  margin: 0;
  font-family: "Montserat", sans-serif;
}
.omb-parrafo-contexto-container {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0;
  font-family: "Work sans", sans-serif;
}

.omb-enlaces-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.omb-parrafos-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.omb-parrafos-container ul {
  padding: 0px 0px 0px 20px;
}
.omb-parrafos-container ul li {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0;
  font-family: "Work sans", sans-serif;
}

.omb-lista-enlaces {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.omb-enlaces {
  gap: 4px;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0px;
  vertical-align: middle;
  text-decoration: underline;
  color: var(--color-enlace);
}
.omb-enlace:hover {
  color: var(--color-enlace-hover);
}

.omb-de-interes-container {
  width: 90%;
  position: relative;
}
.omb-titulo-section {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}

.omb-carrusel-container {
  position: relative;
  width: 100%;
}

.omb-swiper {
  width: 80%;
  padding: 4px;
  box-sizing: border-box;
}

.omb-wrapper {
  width: 100%;
}

.omb-swiper-slide {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.omb-paginacion {
  position: absolute;
  bottom: -32px !important;
}
.omb-paginacion-variante {
  bottom: -60px !important;
}

.omb-paginacion > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 2px solid #4b521d;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}
/* Bullet activo */
.omb-paginacion > .swiper-pagination-bullet-active {
  background-color: #4b521d !important;
  border-color: #4b521d;
  transform: scale(1.2);
}
.omb-botom-control-carrousel {
  position: absolute;
  z-index: 20;
  bottom: -40px;
  min-width: 120px;
  height: 34px;
  width: auto;
  cursor: pointer;
}

.omb-botom-control-carrousel button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.omb-boton-prev {
  left: -0px;
}
.omb-boton-next {
  right: -0px;
}
.omb-boton-prev,
.omb-boton-next {
  color: #565747 !important;
  background-color: #f3f4f1cc;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border-width: 1px;
  transition: all 0.5s ease;
  border: 1px solid #d9e36e;
}
.omb-boton-prev:hover,
.omb-boton-next:hover {
  color: black !important;
  background-color: var(--color-primario);
}

.omb-boton-prev::after,
.omb-boton-next::after {
  font-size: 32px;
  font-weight: 900;
}

.omb-botom-control-carrousel-tableros-interes {
  position: absolute;
  z-index: 20;
  bottom: -40px;
  left: 0;
  min-width: 120px;
  height: 34px;
  width: auto;
}

.omb-botom-control-carrousel-tableros-interes button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
}

.omb-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 16px;
}

.omb-card--pequeña {
  width: 100%;
}
.omb-card:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-imagen-card {
  aspect-ratio: 4 / 3;
  width: 100%;
}
.omb-imagen-card--pequeña {
  height: 158px;
}
.omb-tags-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
}

.omb-tag-card {
  width: auto;
  min-width: 150px;
  height: 24px;
  border-radius: 16px;
  padding: 6px 12px 6px 12px;
  background-color: #f3f4f1;
  color: #71735e;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  gap: 4px;
  font-family: "Work-sans", sans-serif;
}

.omb-tag-icono {
  width: 12px;
  height: 12px;
}

.omb-titulo-card {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.9s ease-in;
}

.omb-titulo-card--dos-lineas {
  height: 53px;
}

.omb-parrafo-card {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: black;
  min-height: 72px;
}
.hidden {
  display: none;
}

@media (min-width: 768px) {
  .omb-titulo-card-container {
    margin: 16px 0px;
  }
  .omb-swiper {
    width: 90%;
  }
  .omb-paginacion-variante {
    bottom: -32px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .omb-card-contexto-container {
    justify-content: start;
  }
  .omb-texto-card-contexto {
    width: 50%;
  }
  .omb-card-contexto-container,
  .omb-breadcrumb-container,
  .omb-fuentes-container,
  .omb-contexto-container,
  .omb-de-interes-container {
    max-width: 960px;
  }
  .omb-compartir-container {
    justify-content: space-between;
  }
  .omb-card-contexto-content {
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    width: 100%;
  }
  .omb-imagen-card-contexto {
    width: 50%;
    height: 316px;
  }
  .omb-titulo-card-container {
    margin: 16px 0px;
  }
  .omb-fuentes-container {
    flex-direction: row;
  }
  .omb-fuentes-content {
    flex-direction: row;
    justify-content: start;
    width: 600px;
  }
  .omb-fuentes-item {
    width: 300px;
  }
  .omb-boton-fuentes-container {
    background-color: #e6e6e6;
    flex: 1;
  }
  .omb-boton-fuentes-container {
    background-color: #e6e6e6;
  }
  .omb-fuentes-container {
    justify-content: start;
    background-color: #e6e6e6;
    overflow: hidden;
  }
  .omb-grafica-section-mobile {
    display: none;
  }
  .omb-grafica-section {
    display: flex;
  }
  .omb-selectores-grafica-container {
    width: 100%;
  }
  .omb-nav-grafica {
    width: 100%;
  }
  .omb-contexto-container {
    flex-direction: row;
  }
  .omb-enlaces-container {
    width: 50%;
  }
  .omb-parrafos-container {
    width: 50%;
  }
  .omb-swiper {
    width: 90%;
  }
  .omb-boton-prev,
  .omb-boton-next {
    width: 52px;
    height: 52px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-paginacion-variante {
    bottom: -32px !important;
  }
}

@media (min-width: 1140px) and (max-width: 1359px) {
  .omb-card-contexto-container {
    justify-content: start;
  }
  .omb-texto-card-contexto {
    width: 50%;
  }

  .omb-breadcrumb-container,
  .omb-fuentes-container,
  .omb-contexto-container,
  .omb-de-interes-container {
    max-width: 1140px;
  }
  .omb-card-contexto-container {
    width: 1026px;
  }
  .omb-compartir-container {
    justify-content: space-between;
  }
  .omb-card-contexto-content {
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    width: 100%;
  }
  .omb-imagen-card-contexto {
    width: 50%;
    height: 316px;
  }
  .omb-titulo-card-container {
    margin: 16px 0px;
  }
  .omb-fuentes-container {
    flex-direction: row;
  }
  .omb-fuentes-content {
    flex-direction: row;
    justify-content: start;
    width: 700px;
  }
  .omb-fuentes-item {
    width: 360px;
  }
  .omb-boton-fuentes-container {
    background-color: #e6e6e6;
    flex: 1;
  }
  .omb-boton-fuentes-container {
    background-color: #e6e6e6;
  }
  .omb-fuentes-container {
    justify-content: start;
    background-color: #e6e6e6;
    overflow: hidden;
  }
  .omb-grafica-section-mobile {
    display: none;
  }
  .omb-grafica-section {
    display: flex;
  }
  .omb-selectores-grafica-container {
    width: 100%;
  }
  .omb-nav-grafica {
    width: 100%;
  }
  .omb-contexto-container {
    flex-direction: row;
  }
  .omb-enlaces-container {
    width: 50%;
  }
  .omb-parrafos-container {
    width: 50%;
  }
  .omb-swiper {
    width: 90%;
  }
  .omb-boton-prev,
  .omb-boton-next {
    width: 52px;
    height: 52px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-paginacion-variante {
    bottom: -32px !important;
  }
}
@media (min-width: 1280px) {
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }

  .omb-card-contexto-container {
    justify-content: start;
  }
  .omb-texto-card-contexto {
    width: 50%;
  }
  .omb-fuentes-container,
  .omb-breadcrumb-container,
  .omb-fuentes-container,
  .omb-compartir-container,
  .omb-contexto-container,
  .omb-grafica-container,
  .omb-de-interes-container {
    max-width: 1140px;
  }
  .omb-card-contexto-container {
    width: 1140px;
  }
  .omb-compartir-container {
    justify-content: space-between;
  }
  .omb-card-contexto-content {
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    width: 100%;
  }
  .omb-imagen-card-contexto {
    width: 50%;
    height: 316px;
  }
  .omb-titulo-card-container {
    margin: 16px 0px;
  }
  .omb-fuentes-container {
    flex-direction: row;
  }
  .omb-fuentes-content {
    flex-direction: row;
    justify-content: start;
    width: 800px;
  }
  .omb-fuentes-item {
    width: 400px;
  }
  .omb-boton-fuentes-container {
    background-color: #e6e6e6;
    flex: 1;
  }
  .omb-fuentes-container {
    justify-content: start;
    background-color: #e6e6e6;
    overflow: hidden;
  }
  .omb-grafica-section-mobile {
    display: none;
  }
  .omb-grafica-section {
    display: flex;
  }
  .omb-selectores-grafica-container {
    width: 100%;
  }
  .omb-nav-grafica {
    width: 100%;
  }
  .omb-contexto-container {
    flex-direction: row;
  }
  .omb-enlaces-container {
    width: 50%;
  }
  .omb-parrafos-container {
    width: 50%;
  }
  .omb-swiper {
    width: 90%;
  }
  .omb-boton-prev,
  .omb-boton-next {
    width: 52px;
    height: 52px;
  }
  .omb-paginacion-variante {
    bottom: -32px !important;
  }
}
