:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #8e9c00;
  --color-texto: #1b1b1b;
  --color-enlace: #acbd00;
  --color-enlace-hover: #a5ad4a;
}
a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.omb-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.omb-section--top-bar {
  display: block;
  padding: 0;
}

.omb-logo-container--top {
  width: 100%;
  background-color: #3266b1;
  display: flex;
  justify-content: center;
}
.omb-logo-govco-container-top {
  width: 90%;
  height: 3rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.omb-logo-govco-container-top img {
  height: 1.875rem;
  width: 8.5rem;
}

.omb-buscador-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.omb-buscador {
  width: 90%;
  display: flex;
  align-items: center;
  height: 96px;
  justify-content: space-between;
  gap: 16px;
  color: white;
  box-sizing: border-box;
}
.omb-input-busqueda-home {
  border-radius: 24px;
  padding: 12px 16px;
  width: 300px;
  font-family: "Work sans";
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("http://101.44.24.97/sites/default/files/2025-07/icono-busqueda.png");
  background-repeat: no-repeat;
  background-position: right 16px center;
}
.omb-buscador-container {
  display: flex;
  align-items: center;
}
.omb-header {
  width: 100%;
  height: 75px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;
}
.omb-icono-menu-container {
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.omb-icono-menu-container:hover {
  transform: scale(1.01);
}
.omb-icono-menu-container:hover .omb-nav {
  display: flex;
}
.omb-nav {
  width: 240px;
  background-color: #e6e6e6;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75px;
  border-bottom-right-radius: 16px;
}
.omb-lista-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}
.omb-lista-nav li {
  height: 100%;
  width: auto;
  box-sizing: border-box;
  border-top: 1px solid #bbbcae;
  border-right: 1px solid transparent;
  transition: all 0.3s ease;
}
.omb-lista-nav li:hover {
  transform: scale(1.01);
}
.omb-lista-nav li:hover {
  background-color: var(--color-primario);
}
.omb-lista-nav li:last-child {
  border-right: none;
}

.omb-lista-nav li a {
  text-decoration: none;
  color: #1b1b1b;
  font-family: "Work sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.omb-sitios-realacionados-section {
  padding-bottom: 80px;
}

.omb-titulo-section {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-titulo-section--centrado {
  text-align: center;
}
.omb-titulo-section--sin-margin {
  margin-top: 0px;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 26px;
  color: var(--color-texto);
  font-family: "Montserrat", "sans-serif";
}
.omb-parrafo-descripcion-section--center {
  text-align: center;
}
.omb-section--hero {
  padding-top: 40px;
}
.omb-hero-container {
  width: 90%;
  display: flex;
  justify-content: center;
}
.omb-card-hero {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.omb-titulo-hero {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 113.99999999999999%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.omb-texto-hero span {
  color: var(--color-primario);
}
.omb-parrafo-hero {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 32px;
  letter-spacing: 0%;
}
.omb-section--de-interes {
  background-color: var(--color-fondo-seccion-intreres);
}
.omb-botones-contenedor-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.omb-boton {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  border-width: 0.125rem;
  border-style: solid;
  color: var(--color-texto);
  cursor: pointer;
}
.omb-boton--primario {
  background-color: var(--color-primario);
  border-color: var(--color-primario);
}
.omb-botton--tamano-fijo {
  min-width: 364px;
}
.omb-boton--secundario {
  background-color: #fff;
  border-color: var(--color-primario);
}

.omb-boton--con-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.omb-boton:hover {
  background-color: var(--color-secundario-hover);
  border-color: var(--color-texto);
  color: white;
}

/* aliados */
.omb-section--inidicadores-home {
  flex-direction: column;
  align-items: center;
  position: relative;
}
.omb-imagen-edificios-indicadores {
  width: 100%;
}
.omb-imagen-edificios-indicadores img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.omb-indicadores-destacados-container {
  width: 90%;
  position: relative;
}
.omb-fondo-indicadores-home {
  width: 100%;
  background: linear-gradient(to bottom, #f2f4f8 0%, #ffffff 100%);
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  position: relative;
}

.omb-swiper {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

.omb-wrapper {
  width: 100%;
}

.omb-swiper-slide {
  padding: 8px;
  display: flex;
  justify-content: end !important;
  align-items: center !important;
  box-sizing: border-box;
}
.omb-swiper-slide--indicadores-home {
  height: 308px;
}

.omb-paginacion {
  position: absolute;
  bottom: -32px !important;
}
.omb-paginacion-sitios-relacionados {
  bottom: 60px !important;
}
.omb-paginacion > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 2px solid #4b521d;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}
/* Bullet activo */
.omb-paginacion > .swiper-pagination-bullet-active {
  background-color: #4b521d !important;
  border-color: #4b521d;
  transform: scale(1.2);
}
.omb-boton-control-carrusel {
  position: absolute;
  z-index: 20;
  bottom: -36px;
  min-width: 120px;
  height: 34px;
  width: auto;
  cursor: pointer;
}
.omb-boton-control-carrusel--variante {
  bottom: 54px;
}

.omb-boton-control-carrusel button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.omb-boton-prev {
  left: -100px;
}
.omb-boton-next {
  right: -100px;
}
.omb-boton-prev,
.omb-boton-next {
  color: #565747 !important;
  background-color: #f3f4f1cc;
  width: 53px;
  height: 53px;
  border-radius: 8px;
  border-width: 1px;
  transition: all 0.5s ease;
  border: 1px solid #d9e36e;
  display: none;
}
.omb-boton-prev:hover,
.omb-boton-next:hover {
  color: black !important;
  background-color: var(--color-primario);
}

.omb-boton-prev::after,
.omb-boton-next::after {
  font-size: 32px;
  font-weight: 900;
}

.indicador-card {
  border: 1px solid #eaeae6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: white;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: visible;
  min-width: 175px;
  max-width: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
  padding: 0px 8px;
}
.indicador-card:hover {
  border-color: #000;
  transform: scale(1.01);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}
.indicador-card:hover .valor {
  color: var(--color-enlace);
}
.icono-wrapper {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.icono-fondo {
  width: 80px;
  height: 80px;
  top: -28px;
  position: relative;
  border-radius: 50%;
  background-color: #dcef00;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  border: 6px solid white;
}
.icono-fondo img {
  width: 60px;
  height: auto;
}
.valor {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  min-height: 64px;
}
.valor span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0%;
  text-align: center;
}
.omb-texto-indicadores {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.063rem;
  text-align: center;
  margin: 8px 0px;
  min-height: 88px;
}

.omb-section--aliados-home {
  flex-direction: column;
  align-items: center;
  position: relative;
}

.omb-aliados-container {
  width: 90%;
}
.omb-fondo-montañas-aliados {
  width: 100%;
}
.omb-fondo-montañas-aliados img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  z-index: -10;
  top: -40px;
}

.aliados-logos-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.aliados-logos-container img {
  width: 100px;
  height: 94px;
  object-fit: contain;
  opacity: 0.85;
  transition: filter 0.3s ease, opacity 0.3s ease;
}
.aliados-logos img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.omb-fondo-aliados {
  width: 100%;
}
.omb-fondo-aliados img {
  width: 100%;
  object-fit: cover;
}

/* observarotio*/
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 26px;
  color: black;
  font-family: "Montserrat", "sans-serif";
}
.omb-observatorio-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.omb-acordion-home {
  width: 90%;
}
.omb-acordion-boton--home {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #fff;
  border: 0;
  min-height: 4.375rem;
  padding: 0 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.omb-flecha-acordion {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
.omb-acordion-boton--home.activo .omb-flecha-acordion {
  transform: rotate(0deg);
}
.omb-acordion-boton--home.activo {
  border-left: 1px solid var(--color-secundario-hover);
}
.omb-acordion-boton--home:hover {
  border-left: 4px solid var(--color-secundario-hover);
  background-color: var(--color-primario);
}
.omb-acordion-boton--home.activo {
  border-left: 4px solid var(--color-secundario-hover);
  background-color: var(--color-primario);
}
.omb-titulo-botton-acordeon {
  display: flex;
  align-items: center;
  gap: 16px;
}
.omb-icono-titulo-acordion img {
  width: 40px;
}

.omb-acordion-content-home {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.4s ease;
  box-sizing: border-box;
  padding: 1rem 0px;
}
.omb-acordion-contenido--home.abierto {
  padding: 1rem 0px;
}
.omb-card-acordion {
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.omb-imagen-card-acordion {
  width: 100%;
  aspect-ratio: 4 / 3;
}
.omb-parrafo-card-acorderon {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 1.5rem;
  color: #666;
  min-height: 96px;
}

.omb-tabs-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.omb-parrafo-descripcion-section--observatorio {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", "sans-serif";
  text-align: center;
}
/*publiciones */

.omb-section--home-publicaciones {
  flex-direction: column;
  align-items: center;
}
.omb-publicaciones-container {
  width: 90%;
  position: relative;
}

.omb-button-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
}
.omb-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 16px;
}

.omb-card--pequeña {
  max-width: 290px;
}
.omb-card:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-imagen-card {
  width: 100%;
}
.omb-imagen-card--pequeña {
  height: 158px;
}

.omb-titulo-card {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.9s ease-in;
}

.omb-titulo-card--dos-lineas {
  height: 53px;
}

.omb-parrafo-card {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: black;
  min-height: 72px;
}
.omb-swiper-slide--publicaiones-home {
  display: flex;
  justify-content: center !important;
}
.omb-section--home-sitios-relacionados {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  height: 380px;
  box-sizing: border-box;
  z-index: 1;
}

.omb-fondo-sitios-relacionados {
  position: absolute;
  top: -258px;
  z-index: -1;
  width: 100%;
}

.omb-sitios-relacionados-container {
  width: 90%;
  position: relative;
}

.omb-decoracion-lineas-sitios-relacionados {
  width: 100%;
  display: flex;
  justify-content: center;
}

.omb-card-sitios-relacionados {
  width: 100%;
  height: 158px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid transparent;
  background-color: #fff;
  transition: all 0.5s ease;
  box-sizing: border-box;
  padding: 16px;
}
.omb-card-sitios-relacionados img {
  width: 100%;
  object-fit: cover;
}

.omb-card-sitios-relacionados:hover {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-button-container-sitios-relacionados {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
}

/*formulario de suscripcion */

.omb-suscripcion-section {
  width: 100%;
  position: relative;
  height: 400px;
}
.omb-fondo-suscripcion-section {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.omb-suscripcion-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.omb-suscripcion-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.omb-texto {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.omb-titulo-section--blanco {
  color: white;
}
.omb-parrafo-descripcion-section--blanco {
  color: white;
  margin: 0;
  text-align: center;
}

.omb-suscripcion-decoracion {
  display: flex;
  display: none;
}
.omb-parrafo-descripcion-section--sin-margin {
  margin-top: 0;
}
.omb-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}
.omb-input-container input {
  width: 100%;
  height: 40px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 20px;
  border: 1px solid #d3d3ca;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
}
.omb-input-container button {
  width: 100%;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  border-radius: 20px;
  background-color: var(--color-primario);
  color: black;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease-in;
  border: 1px solid var(--color-primario);
}
.omb-input-container button:hover {
  border: 1px solid black;
}
.omb-input-container button:hover {
  background-color: #ecff24;
}

/*footer*/
footer {
  width: 100%;
  background-color: var(--color-primario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1140px;
  position: relative;
}
.omb-footer-container {
  width: 90%;
  background-color: #fff;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: -80px;
}
.omb-info-footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.omb-info-footer h2 {
  font-weight: 600;
  color: var(--color-enlace);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;

  transition: all 0.9s ease-in;
}
.omb-info-footer p {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  margin: 0;
  line-height: 1.5rem;
  color: var(--color-enlace);
  margin-top: 4px;
}
.omb-info-footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
}
.omb-info-footer ul li {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
}
.omb-logos-footer img {
  width: 100%;
  object-fit: contain;
}

.omb-redes-sociales-footer-container {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;
}
.omb-redes-sociales-footer-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-enlace);
  border-left: 2px solid transparent;
  padding-left: 16px;
  box-sizing: border-box;
  gap: 4px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  padding: 0;
}
.omb-redes-sociales-footer-container a:hover {
  color: var(--color-enlace-hover);
  text-decoration: underline;
}
.omb-redes-sociales-footer-container a:hover .omb-icono-redes-footer {
  background-color: var(--color-enlace-hover);
}
.omb-redes-sociales-footer-container a:first-child {
  border-left: none;
  padding-left: 0;
}
.omb-icono-redes-footer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  background-color: var(--color-enlace);
}
.omb-enlaces-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  gap: 16px;
  margin-bottom: 32px;
}
.omb-enlaces-footer-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-enlace);
  box-sizing: border-box;
  gap: 4px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  text-decoration: underline;
}
.omb-enlaces-footer-container a:hover {
  color: var(--color-enlace-hover);
}
.omb-logo-govco-container {
  width: 100%;
  height: 80px;
  gap: 16px;
  background-color: #3266b1;
  display: flex;
  align-items: center;
  padding-left: 64px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
}
.omb-logo-govco-container img {
  height: 1.875rem;
  width: 8.5rem;
}
.hidden {
  display: none;
}

.omb-obervatorio-section-tabs {
  display: none;
}
.omb-tabs-container {
  display: flex;
  width: 100%;
  gap: 32px;
  margin-top: 20px;
}
.omb-tabs-menu {
  width: 50%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.omb-tabs-boton--home {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #fff;
  border: 0;
  min-height: 4.375rem;
  padding: 0 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.omb-tabs-boton--home:hover {
  border-left: 4px solid var(--color-secundario-hover);
  background-color: var(--color-primario);
}

.omb-tabs-boton--home.activo {
  border-left: 4px solid var(--color-secundario-hover);
  background-color: var(--color-primario);
}
.omb-card-observatorio {
  width: 50%;
  margin: 0;
}

@media (min-width: 768px) {
  .omb-titulo-hero {
    font-size: 2.625rem;
  }
  .omb-buscador {
    width: 90%;
  }
  .omb-botones-contenedor-hero {
    align-items: start;
  }
  .omb-obervatorio-section-tabs {
    display: none;
  }

  .omb-redes-sociales-footer-container {
    justify-content: center;
  }
  footer {
    height: 836px;
  }
  .omb-footer-container {
    padding: 40px;
  }
  .omb-info-footer-content {
    flex-direction: row;
  }
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .omb-buscador {
    max-width: 960px;
  }
  .omb-icono-menu-container {
    display: none;
  }
  .omb-nav {
    position: relative;
    display: flex;
    top: 0;
    border-radius: 0px;
    justify-content: start;
    padding-left: 10px;
    width: 100%;
  }
  .omb-lista-nav {
    max-width: 100%;
    flex-direction: row;
  }
  .omb-lista-nav li {
    max-width: 160px;
    border-top: 1px solid transparent;
    border-right-color: #bbbcae;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .omb-lista-nav li a {
    padding: 16px;
  }

  .omb-hero-container,
  .omb-aliados-container,
  .omb-observatorio-container,
  .omb-suscripcion-container,
  .omb-indicadores-destacados-container,
  .omb-publicaciones-container,
  .omb-sitios-relacionados-container {
    max-width: 960px;
  }
  .omb-titulo-hero {
    font-size: 2.625rem;
  }
  .omb-carrusel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .omb-swiper {
    width: 90%;
  }
  .omb-card-hero {
    flex-direction: row;
  }
  .omb-texto-hero {
    width: 50%;
  }
  .omb-imagen-hero {
    width: 500px;
    object-fit: contain;
  }
  .aliados-logos-container {
    justify-content: space-around;
  }
  .aliados-logos-container img {
    width: 118px;
  }
  .omb-obervatorio-section-acordion {
    display: none;
  }
  .omb-obervatorio-section-tabs {
    display: flex;
  }
  .omb-parrafo-card-acorderon {
    height: 120px;
  }

  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-titulo-section--sin-margin {
    margin-top: 0px;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .aliados-logos-container {
    justify-content: space-between;
    margin-top: 40px;
  }
  .aliados-logos-container img {
    width: 140px;
    height: 120px;
  }
  .omb-card--pequeña {
    width: 100%;
    max-width: none;
  }

  .omb-imagen-card--mediana {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
  }

  .omb-boton-prev,
  .omb-boton-next {
    width: 44px;
    height: 44px;
    display: flex;
  }
  .omb-boton-prev {
    left: -0px;
  }
  .omb-boton-next {
    right: -0px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 44px;
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-titulo-section--sin-margin {
    margin-top: 0px;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    font-family: "Monstserrart", sans-serif;
  }

  .omb-suscripcion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .omb-texto {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
  }
  .omb-titulo-section--blanco {
    color: white;
  }
  .omb-parrafo-descripcion-section--blanco {
    color: white;
    margin: 0;
    text-align: start;
  }

  .omb-suscripcion-decoracion {
    display: flex;
    display: none;
  }
  .omb-parrafo-descripcion-section--sin-margin {
    margin-top: 0;
  }
  .omb-input-container {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 40px;
  }
  .omb-input-container input {
    min-width: 280px;
    width: 450px;
    height: 40px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .omb-input-container button {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 158px;
  }
  .omb-input-container button:hover {
    border: 1px solid black;
  }
  .omb-input-container button:hover {
    background-color: #ecff24;
  }
  footer {
    height: 1040px;
  }
  .omb-footer-container {
    padding: 80px;
  }
  .omb-info-footer-content {
    flex-direction: row;
  }
}

@media (min-width: 1140px) and (max-width: 1359px) {
  .omb-titulo-hero {
    font-size: 2.625rem;
  }
  .omb-buscador {
    max-width: 1140px;
  }
  .omb-icono-menu-container {
    display: none;
  }
  .omb-nav {
    position: relative;
    display: flex;
    top: 0;
    border-radius: 0px;
    justify-content: start;
    padding-left: 40px;
    width: 1140px;
  }
  .omb-lista-nav {
    max-width: 100%;
    flex-direction: row;
  }
  .omb-lista-nav li {
    max-width: 160px;
    border-top: 1px solid transparent;
    border-right-color: #bbbcae;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .omb-lista-nav li a {
    padding: 16px;
  }
  .omb-hero-container,
  .omb-aliados-container,
  .omb-observatorio-container,
  .omb-indicadores-destacados-container,
  .omb-publicaciones-container,
  .omb-indicadores-destacados-container,
  .omb-publicaciones-container,
  .omb-sitios-relacionados-container {
    max-width: 1140px;
  }
  .omb-carrusel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .omb-swiper {
    width: 90%;
  }

  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-titulo-section--sin-margin {
    margin-top: 0px;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-card-hero {
    flex-direction: row;
  }
  .omb-section--aliados-home {
    flex-direction: column;
    align-items: center;
  }
  .omb-obervatorio-section-acordion {
    display: none;
  }
  .omb-obervatorio-section-tabs {
    display: flex;
  }
  .omb-imagen-card-acordion {
    height: 395px;
  }

  .omb-boton-prev,
  .omb-boton-next {
    width: 52px;
    height: 52px;
    display: flex;
  }
  .omb-boton-prev {
    left: 0px;
  }
  .omb-boton-next {
    right: 0px;
  }

  .omb-suscripcion-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    z-index: 2;
  }
  .omb-texto {
    width: 400px;
    display: flex;
    align-items: start;
    justify-content: start;
    color: white;
  }
  .omb-titulo-section--blanco {
    color: white;
  }
  .omb-parrafo-descripcion-section--blanco {
    color: white;
    margin: 0;
    text-align: start;
  }

  .omb-suscripcion-decoracion {
    display: flex;
    display: none;
  }
  .omb-parrafo-descripcion-section--sin-margin {
    margin-top: 0;
  }
  .omb-input-container {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 40px;
  }
  .omb-input-container input {
    min-width: 280px;
    width: 450px;
    height: 40px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .omb-input-container button {
    width: 158px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  .omb-input-container button:hover {
    border: 1px solid black;
  }
  .omb-input-container button:hover {
    background-color: #ecff24;
  }
  footer {
    height: 1040px;
  }
  .omb-footer-container {
    padding: 80px;
  }
  .omb-info-footer-content {
    flex-direction: row;
  }
  .omb-redes-sociales-footer-container {
    justify-content: space-evenly;
  }
  .omb-enlaces-footer-container {
    gap: 32px;
  }
}
@media (min-width: 1360px) {
  .omb-titulo-hero {
    font-size: 2.625rem;
  }
  header {
    display: flex;
    justify-content: center;
  }
  .omb-buscador {
    max-width: 1280px;
  }
  .omb-icono-menu-container {
    display: none;
  }
  .omb-nav {
    position: relative;
    display: flex;
    top: 0;
    border-radius: 0px;
    justify-content: start;
    padding-left: 10px;
    width: 1280px;
  }
  .omb-lista-nav {
    max-width: 1280px;
    flex-direction: row;
  }
  .omb-lista-nav li {
    max-width: 160px;
    border-top: 1px solid transparent;
    border-right-color: #bbbcae;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .omb-lista-nav li a {
    padding: 16px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-titulo-section--sin-margin {
    margin-top: 0px;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-hero-container,
  .omb-aliados-container,
  .omb-observatorio-container,
  .omb-indicadores-destacados-container,
  .omb-publicaciones-container,
  .omb-suscripcion-container {
    max-width: 1280px;
  }
  .omb-suscripcion-container {
    justify-content: space-between;
  }
  .omb-indicadores-destacados-container,
  .omb-publicaciones-container,
  .omb-sitios-relacionados-container {
    width: 1280px;
  }
  .omb-card-hero {
    flex-direction: row;
  }
  .omb-section--aliados-home {
    height: 640px;
    justify-content: center;
  }

  .aliados-logos-container {
    justify-content: space-between;
    margin-top: 20px;
  }
  .aliados-logos-container img {
    width: 140px;
    height: 120px;
  }
  .omb-obervatorio-section-acordion {
    display: none;
  }
  .omb-obervatorio-section-tabs {
    display: flex;
  }
  .omb-imagen-card-acordion {
    height: 395px;
  }
  .omb-carrusel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .omb-swiper {
    width: 90%;
  }

  .omb-boton-prev,
  .omb-boton-next {
    width: 52px;
    height: 52px;
    display: flex;
  }
  .omb-boton-prev {
    left: -60px;
  }
  .omb-boton-next {
    right: -60px;
  }
  .omb-suscripcion-section {
    height: 280px;
  }

  .omb-suscripcion-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
    align-items: center;
    z-index: 2;
  }
  .omb-texto {
    width: 380px;
    max-width: 400px;
    display: flex;
    align-items: start;
    justify-content: start;
    color: white;
    padding-left: 20px;
  }
  .omb-titulo-section--blanco {
    color: white;
  }
  .omb-parrafo-descripcion-section--blanco {
    color: white;
    margin: 0;
    text-align: start;
  }

  .omb-suscripcion-decoracion {
    display: flex;
    display: none;
  }
  .omb-parrafo-descripcion-section--sin-margin {
    margin-top: 0;
  }
  .omb-input-container {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 40px;
  }
  .omb-input-container input {
    min-width: 280px;
    width: 450px;
    height: 40px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .omb-input-container button {
    width: 158px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  .omb-input-container button:hover {
    border: 1px solid black;
  }
  .omb-input-container button:hover {
    background-color: #ecff24;
  }
  footer {
    height: 820px;
  }
  .omb-footer-container {
    padding: 80px;
  }

  .omb-info-footer-content {
    flex-direction: row;
  }
  .omb-redes-sociales-footer-container {
    justify-content: space-evenly;
  }
  .omb-enlaces-footer-container {
    gap: 32px;
  }
}
@media (min-width: 1440px) {
  .omb-titulo-hero {
    font-size: 2.625rem;
  }
  header {
    display: flex;
    justify-content: center;
  }
  .omb-buscador {
    max-width: 1280px;
  }
  .omb-icono-menu-container {
    display: none;
  }
  .omb-nav {
    position: relative;
    display: flex;
    top: 0;
    border-radius: 0px;
    justify-content: start;
    padding-left: 10px;
    width: 1280px;
  }
  .omb-lista-nav {
    max-width: 1280px;
    flex-direction: row;
  }
  .omb-lista-nav li {
    max-width: 160px;
    border-top: 1px solid transparent;
    border-right-color: #bbbcae;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .omb-lista-nav li a {
    padding: 16px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-titulo-section--sin-margin {
    margin-top: 0px;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-hero-container,
  .omb-aliados-container,
  .omb-observatorio-container,
  .omb-indicadores-destacados-container,
  .omb-publicaciones-container,
  .omb-suscripcion-container,
  .omb-indicadores-destacados-container,
  .omb-publicaciones-container,
  .omb-sitios-relacionados-container {
    max-width: 1280px;
  }
  .omb-suscripcion-container {
    justify-content: space-between;
  }

  .omb-card-hero {
    flex-direction: row;
  }
  .omb-section--aliados-home {
    height: 640px;
    justify-content: center;
  }

  .aliados-logos-container {
    justify-content: space-between;
  }
  .aliados-logos-container img {
    width: 140px;
    height: 120px;
  }
  .omb-obervatorio-section-acordion {
    display: none;
  }
  .omb-obervatorio-section-tabs {
    display: flex;
  }
  .omb-imagen-card-acordion {
    height: 395px;
  }

  .omb-carrusel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .omb-swiper {
    width: 90%;
  }
  .omb-boton-prev,
  .omb-boton-next {
    width: 52px;
    height: 52px;
    display: flex;
  }
  .omb-boton-prev {
    left: 0px;
  }
  .omb-boton-next {
    right: 0px;
  }
  .omb-suscripcion-section {
    height: 280px;
  }

  .omb-suscripcion-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
    align-items: center;
    z-index: 2;
  }
  .omb-texto {
    width: 380px;
    max-width: 400px;
    display: flex;
    align-items: start;
    justify-content: start;
    color: white;
    padding-left: 20px;
  }
  .omb-titulo-section--blanco {
    color: white;
  }
  .omb-parrafo-descripcion-section--blanco {
    color: white;
    margin: 0;
    text-align: start;
  }

  .omb-suscripcion-decoracion {
    display: flex;
    display: none;
  }
  .omb-parrafo-descripcion-section--sin-margin {
    margin-top: 0;
  }
  .omb-input-container {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 40px;
  }
  .omb-input-container input {
    min-width: 280px;
    width: 450px;
    height: 40px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .omb-input-container button {
    width: 158px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  .omb-input-container button:hover {
    border: 1px solid black;
  }
  .omb-input-container button:hover {
    background-color: #ecff24;
  }
  footer {
    height: 820px;
  }
  .omb-footer-container {
    padding: 80px;
  }

  .omb-info-footer-content {
    flex-direction: row;
  }
  .omb-redes-sociales-footer-container {
    justify-content: space-evenly;
  }
  .omb-enlaces-footer-container {
    gap: 32px;
  }
}
