:root {
  --primario-yellow: #f9ffbd;
  --secundario-yellow: #dbf000;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.omb-sitios-relacionados-section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  height: 642px;
  box-sizing: border-box;
}
.omb-sitios-relacionados-container {
  width: 1280px;
  position: relative;
  top: -160px;
}

.omb-fondo-sitios-relacionados {
  position: absolute;
  top: -258px;
  z-index: -1;
  width: 100%;
}

.omb-texto-sitios-relacionados-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  margin-top: 80px;
}
.omb-texto-sitios-relacionados-container h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.omb-texto-sitios-relacionados-container p {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
}
.omb-sitios-relacionados-container {
  width: 1280px;
  height: auto;
}

.omb-contenedor-buttones-sitios-relacionados {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.omb-boton-sitios-relacionados-prev {
  left: -150px !important;
}
.omb-boton-sitios-relacionados-next {
  right: -150px !important;
}
.omb-boton-sitios-relacionados-prev,
.omb-boton-sitios-relacionados-next {
  color: #565747 !important;
  background-color: #f3f4f1cc;
  width: 53px;
  height: 53px;
  border-radius: 8px;
  border-width: 1px;
  transition: all 0.9 ease;
  top: 80px !important;
  border: 1px solid #d9e36e;
}
.omb-boton-sitios-relacionados-prev:hover,
.omb-boton-sitios-relacionados-next:hover {
  color: black !important;
  background-color: var(--secundario-yellow);
}

.omb-boton-sitios-relacionados-prev::after,
.omb-boton-sitios-relacionados-next::after {
  font-size: 32px !important;
  font-weight: 900 !important;
}
.sitiosRelacionadosSlideSwiper {
  width: 100%;
}
.omb-wrapper-sitios-relacionados {
  width: 100%;
  height: 200px;
}

.omb-pagination-sitios-relacionados {
  bottom: -40px !important;
}
.omb-swiper-slide-sitios-relacionados {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo base de los bullets */
.omb-pagination-sitios-relacionados > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 2px solid #4b521d;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}

/* Bullet activo */
.omb-pagination-sitios-relacionados > .swiper-pagination-bullet-active {
  background-color: #4b521d !important;
  border-color: #4b521d;
  transform: scale(1.2);
}

.omb-card-sitios-relacionados {
  width: 400px;
  height: 185px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid transparent;
  background-color: #fff;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

.omb-card-sitios-relacionados:hover {
  background-color: #fff;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.09);
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-botom-control-carrousel-sitios-relacionados {
  position: absolute;
  z-index: 10;
  bottom: -50px;
  min-width: 120px;
  height: 34px;
  width: auto;
}

.omb-botom-control-carrousel-sitios-relacionados button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
}
