:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #8e9c00;
  --color-texto: #000000;
  --color-enlace: #acbd00;
  --color-enlace-hover: #a5ad4a;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.omb-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
}
.omb-indicadores-container {
  width: 90%;
}

.omb-titulo-section {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}

.omb-titulo-section--centrado {
  text-align: center;
}

.omb-parrafo-descripcion-section--centrado {
  text-align: center;
}

.omb-cards-planes-politica-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.omb-card--con-icono {
  width: 360px;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.omb-card--con-icono:hover {
  border-color: black;
}

.omb-card--con-icono:hover .omb-titulo-card {
  color: var(--color-enlace);
}

.omb-icono-container {
  width: 113px;
  height: 113px;
  padding: 8px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(103, 108, 46, 0.1);
  overflow: hidden;
}

.omb-icono-content {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(222.15deg, #f0ff57 0%, #c4d600 100.91%);
}
.omb-texto-card-publicaciones {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
}
.omb-titulo-card {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.3s ease-in;
}
.omb-titulo-card--sin-padding {
  padding: 0;
}

.omb-titulo-card--dos-lineas {
  height: 53px;
}

.omb-parrafo-card {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: black;
  min-height: 72px;
}

.omb-parrafo-card--sin-padding {
  padding: 0;
}
.omb-parrafo-card--variante-card-icono {
  padding: 0;
  -webkit-line-clamp: 7;
  min-height: 168px;
}

.omb-enlaces {
  gap: 4px;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--color-enlace);
  text-decoration: underline;
}

.omb-enlaces:hover {
  color: var(--color-enlace-hover);
}

@media (min-width: 768px) {
  .omb-cards-movilidad-container {
    width: 100%;
  }
  .omb-card--con-icono {
    width: 320px;
  }
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .omb-indicadores-container {
    max-width: 960px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-card--con-icono {
    width: 360px;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}

@media (min-width: 1140px) and (max-width: 1359px) {
  .omb-indicadores-container {
    max-width: 1140px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-card--con-icono {
    width: 360px;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}

@media (min-width: 1260px) {
  .omb-indicadores-container {
    max-width: 1140px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-card--con-icono {
    width: 360px;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}
