:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #8e9c00;
  --color-texto: #000000;
  --color-enlace: #acbd00;
  --color-enlace-hover: #a5ad4a;
  --color-fondo-seccion-intreres: #f3f4f1;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  margin-top: 40px;
}

.omb-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.omb-section--de-interes {
  background-color: var(--color-fondo-seccion-intreres);
}

.omb-articulo-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.omb-img-principal-articulo {
  width: 100%;
  border-radius: 16px;
}
.omb-texto-articulo-content {
  width: 100%;
}
.omb-enlaces {
  gap: 4px;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--color-enlace);
  cursor: pointer;
  text-decoration: underline;
}

.omb-enlaces:hover {
  color: var(--color-enlace-hover);
}

.omb-parrafos {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  font-family: "Work sans", sans-serif;
}

.omb-sidebar-derecho {
  width: 100%;
  border-radius: 16px;
  padding-right: 8px;
  padding-bottom: 32px;
  padding-left: 8px;
  box-sizing: border-box;
  background-color: var(--color-primario);
  display: flex;
  flex-direction: column;
  display: flex;
  transition: all 0.3s ease;
  gap: 0px;
}
.omb-sidebar-derecho--open {
  transform: translateX(0px);
}
.omb-cards-sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.omb-compartir-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  gap: 16px;
  border-radius: 24px;
  padding: 12px;
  background-color: #e6e6e6;
  box-sizing: border-box;
}
.omb-compartir-container--escritorio {
  width: 100%;
  display: none;
}
.omb-redes-sociales {
  width: 424px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.omb-redes-sociales p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
  margin: 0;
}
.omb-lista-redes {
  display: flex;
  gap: 8px;
}
.omb-lista-redes a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c531e;
  border-radius: 50%;
  padding: 8px;
}

.omb-boton {
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  border-width: 0.125rem;
  border-style: solid;
  color: var(--color-texto);
  cursor: pointer;
}
.omb-boton--primario {
  background-color: var(--color-primario);
  border-color: var(--color-primario);
}

.omb-boton:hover {
  background-color: var(--color-secundario-hover);
  border-color: var(--color-texto);
  color: white;
}
.omb-boton-open-sidebar {
  position: absolute;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -40px;
}
.omb-boton-open-sidebar svg {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.omb-boton-open-sidebar--open svg {
  transform: rotate(180deg);
}
.omb-titulo-card-sidebar {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: black;
}

.omb-card-sidebar-derecho {
  background-color: #fff;
  width: 100%;
  gap: 16px;
  border-radius: 16px;
  padding: 8px;
  box-sizing: border-box;
}

.omb-lista-enumerda {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px;
}

.omb-item-lista-enumerada {
  font-family: "Work sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.omb-explora-publicacion-interes-section {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 40px;
  background-color: #f3f4f1;
}

.omb-titulo-section {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}

.omb-de-interes-container {
  width: 90%;
  position: relative;
}
.omb-carrusel-container {
  position: relative;
  width: 100%;
}

.omb-swiper {
  width: 80%;
  padding: 4px;
  box-sizing: border-box;
}

.omb-wrapper {
  width: 100%;
}

.omb-swiper-slide {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.omb-paginacion {
  position: absolute;
  bottom: -32px !important;
}

.omb-paginacion > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 2px solid #4b521d;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}
/* Bullet activo */
.omb-paginacion > .swiper-pagination-bullet-active {
  background-color: #4b521d !important;
  border-color: #4b521d;
  transform: scale(1.2);
}
.omb-botom-control-carrousel {
  position: absolute;
  z-index: 20;
  bottom: -40px;
  min-width: 120px;
  height: 34px;
  width: auto;
  cursor: pointer;
}

.omb-botom-control-carrousel button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.omb-boton-prev {
  left: -0px;
}
.omb-boton-next {
  right: -0px;
}
.omb-boton-prev,
.omb-boton-next {
  color: #565747 !important;
  background-color: #f3f4f1cc;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border-width: 1px;
  transition: all 0.5s ease;
  border: 1px solid #d9e36e;
}
.omb-boton-prev:hover,
.omb-boton-next:hover {
  color: black !important;
  background-color: var(--color-primario);
}

.omb-boton-prev::after,
.omb-boton-next::after {
  font-size: 32px;
  font-weight: 900;
}

.omb-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 16px;
}
.omb-card--mediana {
  width: 100%;
  padding-bottom: 0;
}
.omb-card:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-card--mediana {
  width: 100%;
  max-width: none;
}

.omb-imagen-card--mediana {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
}

.omb-titulo-card {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.9s ease-in;
}

.omb-titulo-card--dos-lineas {
  height: 53px;
}
.hidden {
  display: none;
}

@media (481px < width < 759px) {
  .omb-articulo-container {
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }
  .omb-texto-articulo-content {
    width: 100%;
    min-width: 300px;
  }
}
@media (760px < width < 1140px) {
  .omb-articulo-container {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .omb-texto-articulo-content {
    flex: 1;
  }

  .omb-sidebar-derecho {
    width: 100%;
    max-width: 300px;
  }

  .omb-img-principal-articulo {
    width: 100%;
    border-radius: 16px;
  }

  .omb-card--mediana {
    width: 100%;
    max-width: none;
  }

  .omb-imagen-card--mediana {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
  }

  .omb-swiper {
    width: 90%;
  }
}

@media (width >= 1140px) {
  .omb-de-interes-container {
    max-width: 1140px;
  }
  .omb-articulo-container {
    max-width: 1140px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .omb-texto-articulo-content {
    flex: 1;
  }

  .omb-sidebar-derecho {
    width: 100%;
    max-width: 300px;
  }
  .omb-compartir-container--escritorio {
    display: flex;
  }
  .omb-section-compartir--movil {
    display: none;
  }
  .omb-swiper {
    width: 90%;
  }
}
