:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #ecff24;
  --color-texto: #000000;
  --color-enlace: #acbd00;
  --color-enlace-hover: #a5ad4a;
  --color-fondo-seccion-intreres: #f3f4f1;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.omb-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.omb-titulo-section {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-decoracion-lineas {
  margin-bottom: 20px;
}
.omb-titulo-section--centrado {
  text-align: center;
}
.omb-card-container {
  width: 90%;
}
.omb-card-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.omb-imagen-card-hero {
  width: 100%;
  height: 312px;
  border-radius: 16px;
  object-fit: cover;
}
.omb-imagen {
  width: 504px;
  height: 312px;
  border-radius: 16px;
  object-fit: cover;
}

.omb-titulo-card {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.9s ease-in;
}

.omb-titulo-card--dos-lineas {
  height: 53px;
}
.omb-titulo-card--sin-padding {
  padding: 0;
}
.omb-fecha {
  font-size: 0.875rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  margin: 0px 0px 8px;
  color: #71735e;
}
.omb-fecha--padding {
  padding: 0 16px;
}
.omb-parrafo-card {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: black;
  min-height: 72px;
}
.omb-parrafo-card--sin-padding {
  padding: 0;
}

.omb-boton {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  border-width: 0.125rem;
  border-style: solid;
  color: var(--color-texto);
  cursor: pointer;
}
.omb-boton--primario {
  background-color: var(--color-primario);
  border: 1px solid var(--color-primario);
}
.omb-boton--primario:hover {
  background-color: var(--color-secundario-hover);
  border-color: var(--color-secundario-hover);
}
.omb-boton--con-margen {
  margin: 16px 0px;
}
.omb-boton--con-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.omb-botton-mobile-container {
  width: 90%;
}
.omb-boton-sidebar-mobile {
  background-color: var(--color-primario);
  width: 265px;
  height: 62px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-texto);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
  gap: 8px;
  padding: 8px 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px 0px;
  width: 297px;
}
.icono-flecha {
  transition: all 0.3s ease;
}
.icono-flecha.activo {
  transform: rotate(-90deg);
}
.omb-text-button {
  display: flex;
  align-items: center;
}

.omb-noticias-container {
  width: 90%;
  display: flex;
  gap: 30px;
}
.omb-sidebar-container {
  width: 297px;
  position: absolute;
  display: none;
  z-index: 50;
}
.omb-sidebar-container.activo {
  display: block;
}

.omb-sidebar-content {
  position: absolute;
  border-radius: 16px;
  background-color: #fff;
}

.omb-boton-sidebar {
  background-color: var(--color-primario-soft);
  width: 265px;
  height: 62px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 16px;
  color: var(--color-texto);
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 12px;
  position: relative;
  gap: 8px;
  padding: 8px 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.omb-boton-sidebar--width {
  width: 297px;
  display: none;
}
.omb-boton-sidebar:hover {
  background-color: var(--color-primario);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.omb-boton-sidebar--secundario {
  padding: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.omb-boton-sidebar--activo {
  background-color: var(--color-primario);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.omb-boton-sidebar--activo::before {
  content: "";
  position: absolute;
  right: -12px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 14px solid var(--color-primario);
  border-bottom: 8px solid transparent;
}

.omb-sidebar {
  width: 297px;
  height: auto;
  background: var(--color-primario-soft);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
}

.omb-sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  gap: 16px;
}
.omb-sidebar-list-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.omb-inputs-section {
  padding-bottom: 0;
}

.omb-buscador-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.omb-input-busqueda {
  width: 100%;
  height: 48px;
  background-color: #f8f9f1;
  border: none;
  border-radius: 32px;
  padding: 0px 16px;
  font-size: 16px;
  box-sizing: border-box;
  color: #71735e;
}

.omb-select {
  position: relative;
}

.omb-boton-filtro-container {
  height: 67px;
  display: flex;
  align-items: end;
}

.omb-select p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}

.omb-opcion-selecionada {
  border-radius: 24px;
  padding-left: 16px;
  height: 40px;
  font-family: "Work sans", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 500;
  appearance: none;
  border: 1px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("http://149.130.178.89/media/111");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 12px;
  color: var(--color-texto);
  position: relative;
}
.omb-opcion-selecionada--ordenar {
  width: 140px;
  gap: 8px;
}
.icono-flecha-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  transition: all 0.3s ease;
}
.icono-flecha-select.activo {
  transform: rotate(-90deg);
}
.omb-opciones {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 16px;
  padding: 16px 0px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  position: absolute;
  width: 200px;
  background-color: #fff;
  overflow: hidden;
  top: 32px;
  z-index: 1;
}

.omb-opciones li {
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s ease;
}

.omb-opciones li:hover {
  background-color: var(--color-primario);
}
.omb-opciones li:focus-visible {
  background-color: var(--color-primario);
}
.omb-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.omb-contenedor-derecho {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1260px;
  overflow: hidden;
}
.omb-cards-noticias-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  width: 100%;
  padding: 12px;
}
.omb-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 0px;
  cursor: pointer;
}
.omb-card--peque単a {
  width: 297px;
  height: 389px;
}

.omb-card:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-imagen-card {
  width: 100%;
}
.omb-imagen-card--mediana {
  height: 260px;
}

.omb-card:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-imagen-card {
  width: 100%;
  object-fit: cover;
}
.omb-imagen-card--peque単a {
  height: 158px;
}

.omb-paginacion-numerica {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.omb-paginacion-numerica ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-left: 0;
  align-items: center;
}

.omb-paginacion-enlace {
  font-weight: 600;
  font-family: "Work sans", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.625rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.3s ease-in;
  color: var(--color-enlace-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  background-color: inherit;
}

.omb-pagination-numero {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: none;
  background-color: inherit;
  text-decoration: none;
}

.omb-paginacion-enlace--activo {
  background-color: var(--color-primario);
  border-radius: 8px;
  color: var(--color-texto);
}
.omb-enlaces {
  gap: 4px;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  color: var(--color-enlace);
  text-decoration: underline;
}
.omb-enlaces--centrado {
  width: 100%;
  justify-content: center;
}
@media (min-width: 768px) {
  .omb-cards-noticias-container {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  .omb-card-hero {
    gap: 0px;
  }
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .omb-card-container,
  .omb-buscador-container,
  .omb-noticias-container {
    max-width: 960px;
  }
  .omb-card-hero {
    gap: 30px;
    flex-direction: row;
  }
  .omb-buscador-container {
    justify-content: start;
    gap: 30px;
  }
  .omb-input-busqueda {
    width: 90%;
  }
  .omb-inputs-section {
    margin-bottom: 40px;
  }
  .omb-botton-mobile-container {
    display: none;
  }
  .omb-tableros-content {
    display: flex;
    gap: 30px;
    position: relative;
  }
  .omb-sidebar-container {
    display: block;
    position: relative;
  }
  .omb-boton-sidebar--width {
    display: flex;
  }

  .omb-sidebar {
    margin-top: 12px;
  }
  .omb-sidebar-list li:first-child {
    display: none;
  }
  .omb-content {
    width: calc(100% - 297px - 30px);
  }
  .omb-cards-noticias-container {
    width: 100%;
    place-items: start;
    grid-template-columns: repeat(2, 1fr);
  }
  .omb-card--peque単a {
    width: 280px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}
@media (min-width: 1140px) and (max-width: 1359px) {
  .omb-card-container,
  .omb-buscador-container,
  .omb-noticias-container {
    max-width: 1140px;
  }
  .omb-card-hero {
    gap: 30px;
    flex-direction: row;
  }
  .omb-buscador-container {
    justify-content: start;
    gap: 30px;
  }
  .omb-inputs-section {
    margin-bottom: 40px;
  }
  .omb-boton-sidebar-mobile {
    display: none;
  }
  .omb-sidebar-container {
    position: relative;
    display: block;
  }
  .omb-boton-sidebar--width {
    display: flex;
  }
  .omb-sidebar {
    margin-top: 12px;
  }
  .omb-sidebar-list li:first-child {
    display: none;
  }

  .omb-content {
    width: calc(100% - 297px - 30px);
  }
  .omb-cards-noticias-container {
    width: 100%;
    place-items: start;
    grid-template-columns: repeat(2, 1fr);
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}

@media (min-width: 1280px) {
  .omb-card-container,
  .omb-buscador-container,
  .omb-noticias-container {
    max-width: 1140px;
  }
  .omb-card-hero {
    gap: 30px;
    flex-direction: row;
  }
  .omb-buscador-container {
    justify-content: start;
    gap: 30px;
  }
  .omb-noticias-container {
    gap: 30px;
  }
  .omb-inputs-section {
    margin-bottom: 40px;
  }
  .omb-boton-sidebar-mobile {
    display: none;
  }
  .omb-sidebar-container {
    position: relative;
    display: block;
  }
  .omb-boton-sidebar--width {
    display: flex;
  }
  .omb-sidebar {
    margin-top: 12px;
  }
  .omb-sidebar-list li:first-child {
    display: none;
  }
  .omb-card--peque単a {
    width: 250px;
  }

  .omb-content {
    width: calc(100% - 297px - 30px);
  }
  .omb-cards-noticias-container {
    width: 100%;
    place-items: start;
    grid-template-columns: repeat(3, 1fr);
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}
.hidden {
  display: none;
}
