body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.aliados {
  text-align: center;
  padding: 40px 20px;
  width: 100%;
  height: 718px;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aliados h2 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 600;
}
.aliados-logos-container {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.aliados-logos img {
  width: 118px;
  height: 94px;
  object-fit: cover;
  opacity: 0.85;
  transition: filter 0.3s ease, opacity 0.3s ease;
}
.aliados-logos img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.omb-fondo-aliados {
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  bottom: 0;
  position: absolute;
}
.omb-fondo-aliados img {
  width: 100%;
  height: 100%;
}
