:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #8e9c00;
  --color-texto: #1b1b1b;
  --color-enlace: #acbd00;
  --color-enlace-hover: #a5ad4a;
  --color-fondo-seccion-intreres: #f3f4f1;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.omb-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.omb-section--de-interes {
  background-color: var(--color-fondo-seccion-intreres);
}
.omb-noticia-container {
  width: 880px;
}

.omb-titulo-section {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: black;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.omb-titulo-section--centrado {
  text-align: center;
}
.omb-fecha-container {
  display: flex;
  align-items: center;
  gap: 32px;
}
.omb-fecha {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px 0px 8px;
}
.omb-fecha--padding {
  padding: 0 16px;
}
.omb-fecha span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.omb-lista-parrafo {
  padding: 0px 0px 0px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  font-family: "Work sans", sans-serif;
}
.omb-parrafos {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  font-family: "Work sans", sans-serif;
}

.omb-compartir-container {
  width: 1280px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  padding: 52px;
  background-color: #e6e6e6;
  box-sizing: border-box;
}
.omb-compartir-container--variante {
  justify-content: end;
}

.omb-redes-sociales {
  width: 424px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.omb-redes-sociales p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
}
.omb-lista-redes {
  display: flex;
  gap: 28px;
}
.omb-lista-redes a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c531e;
  border-radius: 50%;
  padding: 8px;
}
.omb-de-interes-container {
  width: 1280px;
  position: relative;
}

.omb-swiper {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

.omb-wrapper {
  width: 100%;
}

.omb-swiper-slide {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.omb-paginacion {
  position: absolute;
  bottom: -32px !important;
}

.omb-paginacion > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 2px solid #4b521d;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}
/* Bullet activo */
.omb-paginacion > .swiper-pagination-bullet-active {
  background-color: #4b521d !important;
  border-color: #4b521d;
  transform: scale(1.2);
}
.omb-botom-control-carrousel {
  position: absolute;
  z-index: 20;
  bottom: -40px;
  min-width: 120px;
  height: 34px;
  width: auto;
  cursor: pointer;
}

.omb-botom-control-carrousel button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.omb-boton-prev {
  left: -100px;
}
.omb-boton-next {
  right: -100px;
}
.omb-boton-prev,
.omb-boton-next {
  color: #565747 !important;
  background-color: #f3f4f1cc;
  width: 53px;
  height: 53px;
  border-radius: 8px;
  border-width: 1px;
  transition: all 0.5s ease;
  border: 1px solid #d9e36e;
}
.omb-boton-prev:hover,
.omb-boton-next:hover {
  color: black !important;
  background-color: var(--color-primario);
}

.omb-boton-prev::after,
.omb-boton-next::after {
  font-size: 32px;
  font-weight: 900;
}

.omb-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 16px;
}
.omb-card--mediana {
  width: 400px;
}
.omb-imagen-card {
  width: 100%;
}
.omb-imagen-card--mediana {
  height: 260px;
}

.omb-card:hover {
  border: 1px solid #000;
}

.omb-card-infografia-content {
  display: flex;
  flex-direction: column;
}

.omb-titulo-card {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  transition: all 0.9s ease-in;
  padding: 0px 16px;
}

.omb-titulo-card--dos-lineas {
  height: 53px;
}
.omb-fecha {
  font-size: 0.875rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  margin: 0px 0px 8px;
  display: flex;
  gap: 8px;
  color: #71735e;
}
.omb-fecha span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.omb-fecha--padding {
  padding: 0 16px;
}

.omb-parrafo-card {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: black;
  min-height: 72px;
}

.omb-enlaces {
  gap: 4px;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--color-enlace);
  text-decoration: underline;
  margin: 0;
}
.omb-enlaces--con-padding {
  padding-left: 16px;
  margin-top: 8px;
  margin-bottom: 10px;
}
.omb-enlaces:hover {
  color: var(--color-enlace-hover);
}
