:root {
  --primario-yellow: #f9ffbd;
  --secundario-yellow: #dbf000;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  margin-top: 40px;
}
.omb-articulo-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.omb-info-articulo-container {
  width: 1280px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.omb-info-articulo-content img {
  width: 100%;
  margin-bottom: 40px;
}
.omb-info-articulo-content {
  width: 70%;
}

.omb-info-articulo-content h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.omb-info-articulo-content a {
  height: 28px;
  gap: 4px;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #acbd00;
}
.omb-info-articulo-content a span {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.omb-info-articulo-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  font-family: "Work sans", sans-serif;
}
.omb-info-articulo-content > div > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  font-family: "Work sans", sans-serif;
}

.omb-aside-articulo {
  width: 354px;
  height: 1200px;
  border-radius: 16px;
  padding-right: 8px;
  padding-bottom: 32px;
  padding-left: 8px;
  box-sizing: border-box;
  background-color: var(--secundario-yellow);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.omb-card-aside-articulo h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.omb-card-aside-articulo {
  border-radius: 16px;
  background-color: #fff;
  width: 304px;
  height: 193px;
  gap: 16px;
  border-radius: 16px;
  padding: 16px;
}
.omb-card-aside-articulo ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px;
}
.omb-card-aside-articulo ol li {
  font-family: "Work sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.omb-card-aside-articulo a {
  font-family: "Work sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #acbd00;
  display: flex;
  align-items: center;
  gap: 4px;
}
