body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.omb-section {
  width: 100%;
}
.omb-logo-container {
  width: 100%;
  background-color: #3266b1;
  display: flex;
  justify-content: center;
}
.omb-logo-govco-container {
  width: 1280px;
  height: 80px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.omb-buscador-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.omb-buscador {
  width: 1280px;
  display: flex;
  align-items: center;
  height: 132px;
  justify-content: space-between;
  gap: 16px;
  color: white;
  padding: 0px 20px;
  box-sizing: border-box;
}
.omb-input-busqueda-home {
  border-radius: 24px;
  padding: 12px;
  width: 300px;
  font-family: "Work sans";
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("http://149.130.178.89/media/59");
  background-repeat: no-repeat;
  background-position: right 16px center;
}
.omb-buscador-container {
  display: flex;
  align-items: center;
}
