:root {
  --primario-yellow: #f9ffbd;
  --secundario-yellow: #dbf000;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  width: 100%;
  margin-top: 40px;
}
.omb-breadcrumb-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border: 1px solid #d3d3ca;
  box-shadow: 0px 2px 10px 0px #0000001f;
  background-color: #f8f9f1;
  box-sizing: border-box;
}

.omb-breadcrumb-lista {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 12px;
  color: #bbbcae;
  max-width: auto;
  min-width: 324px;
  height: 25px;
  border-radius: 16px;
  padding: 4px 16px 4px 16px;
  gap: 14px;
  margin-left: 294px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.omb-breadcrumb-lista span {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #9ea453;
}
.omb-breadcrumb-lista li a {
  color: #9ea453;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  font-family: Montserrat;
}
.omb-breadcrumb-lista li a:hover {
  color: #acbd00;
}

.omb-card-content {
  width: 1280px;
  display: flex;
  gap: 8px;
}

.omb-card-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.omb-descripcion {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3ca;
  border-radius: 16px;
  position: relative;
}
.omb-title-descripcion-container {
  width: 768px;
  height: 112px;
  display: flex;
  justify-items: start;
  align-items: center;
  border-top: 1px solid #d3d3ca;
  border-left: 1px solid #d3d3ca;
  border-right: 1px solid #d3d3ca;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0px 32px 0px 30px;
  background: linear-gradient(180deg, #ffffff 0%, #f9ffbd 100%);
  gap: 16px;
}
.omb-title-descripcion-container h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #494c21;
  margin: 0;
}

.omb-icon-title-descripcion {
  width: 136px;
  height: 136px;
  background: linear-gradient(222.15deg, #dedae5 0%, #68656d 100.91%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.omb-texto-descripcion-container {
  width: 766px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 32px;
  border-bottom: 1px solid #d3d3ca;
  border-left: 1px solid #d3d3ca;
  border-right: 1px solid #d3d3ca;
  transition: all 0.3s ease-in;
}

.omb-texto-descripcion {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.omb-texto-descripcion-expandido {
  -webkit-line-clamp: unset;
  display: block;
  overflow: visible;
  text-overflow: unset;
}

.omb-img-container img {
  width: 544px;
  height: 322px;
  object-fit: cover;
  border-radius: 16px;
}
.omb-text-buttom {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
}
.omb-text-button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
.omb-selectores-grafica-container {
  width: 100%;
  height: 70px;
  border: 1px solid #d3d3ca;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 100px;
  position: relative;
}
.omb-nav-grafica {
  width: 1280px;
  height: 100%;
  margin-left: 264px;
}
.omb-lista-selectores-grafica {
  display: flex;
  justify-items: center;
  gap: 16px;
  list-style: none;
  margin: 0;
  position: absolute;
  bottom: -1px;
}
.omb-botones-lista {
  width: 125px;
  height: 70px;
  padding: 24px 16px 24px 16px;
  gap: 8px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  border: none;
  background-color: inherit;
  color: #c6cb87;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}
.omb-botones-lista:hover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #d3d3ca;
  color: #212400;
  background: linear-gradient(180deg, #ffffff 0%, #f9ffbd 100%);
}

.omb-botones-lista-seleccionado {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #d3d3ca;
  border-bottom: 1px solid transparent;
  background: linear-gradient(180deg, #ffffff 0%, #f9ffbd 100%);
  color: #212400;
}
.omb-grafica-container {
  width: 100%;
  height: 600px;
  text-align: center;
}
.omb-compartir-section {
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.omb-compartir-content {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d3d3ca;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 32px 0px 0px 0px;
}

.omb-bottom-descarga {
  width: 275px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #c4d600;
  border-radius: 20px;
  padding: 8px 24px 8px 24px;
  font-weight: 700;
  size: 16px;
  line-height: 24px;
  font-family: Montserrat;
  gap: 8px;
  cursor: pointer;
}
.omb-bottom-descarga:hover {
  background-color: var(--secundario-yellow);
}
.omb-bottom-descarga span {
  width: 23px;
  height: 23px;
}
.omb-redes-sociales {
  width: 424px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9f1;
  gap: 26px;
}
.omb-redes-sociales p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
}
.omb-lista-redes {
  display: flex;
  gap: 28px;
}
.omb-lista-redes a {
  text-decoration: none;
}

.omb-contexto-section {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.omb-contexto-content {
  width: 1280px;
  display: flex;
  gap: 16px;
}

.omb-contexto-section h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}
.omb-contexto-section p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}
.omb-contexto-section ul {
  padding: 0px 0px 0px 20px;
}
.omb-contexto-section ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.omb-enlaces-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.omb-context-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.omb-lista-enlaces {
  width: 545px;
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.omb-enlace {
  display: flex;
  align-items: center;
}

.omb-enlace a {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #acbd00;
}
.omb-enlace a:hover {
  color: #a5ad4a;
}
