:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #8e9c00;
  --color-texto: #000000;
  --color-enlace: #515900;
  --color-enlace-hover: #a5ad4a;
  --color-fondo-seccion-intreres: #f3f4f1;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.omb-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.omb-comunidad-container,
.omb-eventos-comunidad-container {
  width: 90%;
}
.omb-titulo-section {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
}
.omb-cards-eventos-container,
.omb-cards-eventos-comunidad-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 30px;
  padding-bottom: 20px;
}
.omb-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 16px;
}
.omb-card--mediana {
  width: 400px;
}
.omb-imagen-card {
  width: 100%;
}
.omb-imagen-card--mediana {
  height: 260px;
}

.omb-card:hover {
  border: 1px solid #000;
}

.omb-card-infografia-content {
  display: flex;
  flex-direction: column;
}

.omb-titulo-card {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  transition: all 0.9s ease-in;
  padding: 0px 16px;
}

.omb-titulo-card--dos-lineas {
  height: 53px;
}
.omb-fecha {
  font-size: 0.875rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  margin: 0px 0px 8px;
  display: flex;
  gap: 8px;
  color: #71735e;
}
.omb-fecha span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.omb-fecha--padding {
  padding: 0 16px;
}

.omb-parrafo-card {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: black;
  min-height: 72px;
}

.omb-enlaces {
  gap: 4px;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--color-enlace);
  text-decoration: underline;
  margin: 0;
}
.omb-enlaces--con-padding {
  padding-left: 16px;
  margin-top: 8px;
  margin-bottom: 10px;
}
.omb-enlaces:hover {
  color: var(--color-enlace-hover);
}
.omb-paginacion-numerica {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.omb-paginacion-numerica ul {
  display: flex;
  list-style: none;
  gap: 8px;
  padding-left: 0;
  align-items: center;
}

.omb-paginacion-enlace {
  font-weight: 600;
  font-family: "Work sans", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.625rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.3s ease-in;
  color: var(--color-enlace);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  background-color: inherit;
}
.omb-paginacion-enlace:hover {
  color: var(--color-enlace-hover);
  text-decoration: underline;
}

.omb-pagination-numero {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: none;
  background-color: inherit;
  text-decoration: none;
}

.omb-paginacion-enlace--activo {
  background-color: var(--color-primario);
  border-radius: 8px;
  color: var(--color-texto);
}
@media (min-width: 768px) {
  .omb-cards-eventos-container,
  .omb-cards-eventos-comunidad-container {
    justify-content: center;
  }
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .omb-comunidad-container,
  .omb-eventos-comunidad-container {
    max-width: 960px;
  }
  .omb-cards-eventos-container,
  .omb-cards-eventos-comunidad-container {
    justify-content: start;
  }

  .omb-card--mediana {
    width: 400px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}

@media (min-width: 1140px) and (max-width: 1359px) {
  .omb-cards-eventos-container,
  .omb-cards-eventos-comunidad-container {
    justify-content: start;
  }
  .omb-comunidad-container,
  .omb-eventos-comunidad-container {
    max-width: 1140px;
  }
  .omb-card--mediana {
    width: 400px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}
@media (min-width: 1280px) {
  .omb-cards-eventos-container,
  .omb-cards-eventos-comunidad-container {
    justify-content: start;
  }
  .omb-comunidad-container,
  .omb-eventos-comunidad-container {
    max-width: 1140px;
  }
  .omb-card--mediana {
    width: 360px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
}
