:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #ecff24;
  --color-boder-tab: #8e9c00;
  --color-texto: #000000;
  --color-enlace: #acbd00;
  --color-enlace-hover: #a5ad4a;
  --color-fondo-seccion-intreres: #f3f4f1;
  --color-strong: #c4d600;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
main {
  width: 100%;
}

.omb-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.omb-titulo-section {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: var(--color-texto);
  font-family: "Montserrat", "sans-serif";
}
.omb-card-info-container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.omb-card-info-categoria {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.omb-card-info-categoria img {
  width: 100%;
  height: 250px;
  border-radius: 16px;
  object-fit: cover;
}
.omb-texto-categoria {
  width: 100%;
}
.omb-titulo-card-hero {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0px;
  transition: all 0.3s ease-in;
}

.omb-titulo-card {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px;
  transition: all 0.3s ease-in;
}

.omb-boton {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  border-width: 0.125rem;
  border-style: solid;
  color: var(--color-texto);
  cursor: pointer;
}
.omb-boton--primario {
  background-color: var(--color-primario);
  border: 1px solid var(--color-primario);
}
.omb-boton--con-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.omb-boton--primario:hover {
  background-color: var(--color-secundario-hover);
  border-color: var(--color-secundario-hover);
}
.omb-categorias-section {
  background-color: #f1f3f7;
}

.omb-encuestas-container {
  width: 90%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.omb-select {
  position: relative;
}
.omb-select--con-dos-elementos {
  position: relative;
  display: flex;
  width: 100%;
  gap: 4px;
}
.omb-boton-filtro-container {
  height: 67px;
  display: flex;
  align-items: end;
}

.omb-select p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}

.omb-opcion-selecionada {
  border-radius: 24px;
  padding-left: 12px;
  height: 40px;
  font-family: "Work sans", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 500;
  appearance: none;
  border: 1px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("http://149.130.178.89/media/111");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 12px;
  color: var(--color-texto);
  position: relative;
}
.omb-opcion-selecionada--ordenar {
  width: 140px;
  gap: 8px;
}
.icono-flecha-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  transition: all 0.3s ease;
}
.icono-flecha-select.activo {
  transform: rotate(-90deg);
}
.omb-opciones {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 16px;
  padding: 16px 0px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  position: absolute;
  width: 140px;
  background-color: #fff;
  overflow: hidden;
  top: 32px;
  z-index: 1;
}

.omb-opciones li {
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s ease;
}
.omb-opciones li:hover {
  background-color: var(--color-primario);
}
.omb-opciones li:focus-visible {
  background-color: var(--color-primario);
}

.omb-cards-encuesta-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 848px;
  overflow: hidden;
  gap: 30px;
  padding: 4px;
  box-sizing: border-box;
}

.omb-card-encuesta {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  border-radius: 16px;
  box-sizing: border-box;
  transition: all 0.5s ease;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
}

.omb-card-encuesta:hover {
  border: 1px solid black;
  transform: scale(1.02);
}
.omb-card-encuesta:hover .omb-enlace-categoria-selecionada {
  color: #7e8a00;
}
.omb-card-encuesta img {
  width: 100%;
  height: 216px;
}

.omb-card-encuesta h5 {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.3s ease-in;
}

.omb-parrafo-card {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: var(--color-texto);
  min-height: 72px;
}
.omb-parrafo-card--sin-padding {
  padding: 0;
  margin: 1rem 0;
}

.omb-enlace-categoria-selecionada {
  color: #acbd00;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: all 0.5 ease;
  font-family: "Work sans" sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  vertical-align: middle;
  text-decoration: underline;
}

.omb-enlaces {
  gap: 4px;
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--color-enlace);
  text-decoration: underline;
  margin: 8px 0px;
  margin-bottom: 8px;
  padding-left: 16px;
}
.omb-enlaces span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.omb-enlaces:hover {
  color: var(--color-enlace-hover);
}

.hidden {
  display: none;
}
@media (min-width: 768px) {
  .omb-card-encuesta {
    width: 320px;
  }
}
@media (min-width: 1024px) and (max-width: 1139px) {
  .omb-card-info-categoria {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .omb-card-info-container,
  .omb-encuestas-container {
    max-width: 960px;
  }
  .omb-titulo-card-hero {
    font-size: 1.5rem;
    line-height: 1.625rem;
    margin-top: 0rem;
  }
  .omb-cards-encuesta-container {
    justify-content: center;
  }

  .omb-card-encuesta {
    width: 360px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-titulo-publicaciones {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

@media (min-width: 1140px) and (max-width: 1359px) {
  .omb-card-info-categoria {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .omb-card-info-container,
  .omb-encuestas-container,
  .omb-cards-encuesta-container {
    max-width: 1140px;
  }
  .omb-titulo-card-hero {
    font-size: 1.5rem;
    line-height: 1.625rem;
    margin-top: 0rem;
  }
  .omb-card-encuesta {
    width: 360px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-titulo-publicaciones {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}
@media (min-width: 1280px) {
  .omb-card-info-categoria {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .omb-card-info-container,
  .omb-encuestas-container,
  .omb-cards-encuesta-container {
    max-width: 1140px;
  }
  .omb-titulo-card-hero {
    font-size: 1.5rem;
    line-height: 1.625rem;
    margin-top: 0rem;
  }
  .omb-card-encuesta {
    width: 350px;
  }
  .omb-titulo-section {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.75rem;
    color: var(--color-texto);
    font-family: "Montserrat", sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  .omb-parrafo-descripcion-section {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--color-texto);
  }
  .omb-titulo-publicaciones {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}
