body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.omb-indicadores-section {
  padding: 2rem 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  background-image: url("http://149.130.178.89/sites/default/files/2025-06/edificios.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.omb-indicadores-section h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 0;
  margin-top: 100px;
}

.indicadores-destacados {
  position: relative;
  width: 1280px;
}

.omb-contenedor-botones-indicadores {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.omb-button-indicadores-prev {
  left: -100px !important;
}
.omb-button-indicadores-next {
  right: -100px !important;
}

.omb-button-indicadores-prev,
.omb-button-indicadores-next {
  width: 53px;
  height: 53px;
  border-radius: 8px;
  border-width: 1px;
  transition: all 0.9 ease;
  background-color: #f3f4f1cc;
  color: #565747 !important;
  border: 1px solid #d9e36e;
}
.omb-button-indicadores-prev::after,
.omb-button-indicadores-next::after {
  font-size: 32px !important;
  font-weight: 900 !important;
}

.omb-slide-container-card-indicadores {
  width: 1280px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.omb-swiper-wrapper-indicadores {
  display: flex;
  width: 1280px;
}

.omb-swiper-card-indicadores {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px !important;
}

.indicador-card {
  position: relative;
  background: white;
  border-radius: 1rem;
  padding: 5.375rem 1.5rem 1.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: visible;
  width: 200px;
  cursor: pointer;
  box-sizing: border-box;
}
.icono-wrapper {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icono-fondo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #dcef00;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
  border: 6px solid white;
}
.icono-fondo img {
  width: 60px;
  height: auto;
}
.valor {
  font-size: 2rem;
  font-weight: 900;
  color: #4d5420;
}
.valor span {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #4d5420;
  margin-top: -4px;
}
.descripcion {
  font-size: 0.95rem;
  color: #565747;
  margin-top: 0.5rem;
  line-height: 1.3;
  text-align: center;
}
.omb-paginacion-indicadores {
  bottom: -40px !important;
}
/* Estilo base de los bullets */
.omb-paginacion-indicadores > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 2px solid #4b521d;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}

/* Bullet activo */
.omb-paginacion-indicadores > .swiper-pagination-bullet-active {
  background-color: #4b521d !important;
  border-color: #4b521d;
  transform: scale(1.2);
}
.omb-botom-control-carrousel-indicadores {
  position: absolute;
  z-index: 10;
  bottom: -50px;
  min-width: 120px;
  height: 34px;
  width: auto;
}
.omb-botom-control-carrousel-indicadores button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
}

.aliados {
  text-align: center;
  padding: 40px 20px;
  width: 100%;
  height: 718px;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -160px;
}
.aliados h2 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 600;
}
.aliados-logos-container {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.aliados-logos img {
  width: 118px;
  height: 94px;
  object-fit: cover;
  opacity: 0.85;
  transition: filter 0.3s ease, opacity 0.3s ease;
}
.aliados-logos img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
.omb-fondo-aliados {
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  bottom: 0;
  position: absolute;
}
.omb-fondo-aliados img {
  width: 100%;
  height: 100%;
}
