:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #8e9c00;
  --color-texto: #1b1b1b;
  --color-enlace: #acbd00;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  width: 100%;
  margin-top: 40px;
}

.omb-breadcrumb-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border: 1px solid #d3d3ca;
  box-shadow: 0px 2px 10px 0px #0000001f;
  background-color: #f8f9f1;
  box-sizing: border-box;
}

.omb-breadcrumb-lista {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 12px;
  color: #bbbcae;
  max-width: auto;
  min-width: 324px;
  height: 25px;
  border-radius: 16px;
  padding: 4px 16px 4px 16px;
  gap: 14px;
  margin-left: 294px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.omb-breadcrumb-lista span {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #9ea453;
}
.omb-breadcrumb-lista li a {
  color: #9ea453;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
}
.omb-breadcrumb-lista li a:hover {
  color: #acbd00;
}
.omb-descripcion-contexto-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.omb-descripcion-contexto-section h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin: 0px 0px 16px;
}
.omb-descripcion-content {
  width: 1280px;
  height: auto;
}
.omb-texto-descripcion {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  height: auto;
}
.omb-texto-descripcion p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  height: auto;
  width: 600px;
  font-family: "Work sans", sans-serif;
}
.omb-fuentes-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.omb-fuentes-container {
  width: 1280px;
  height: 140px;
  background-color: #e6e6e6;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.omb-fuentes-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.omb-fuentes-item {
  width: 332px;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  border-left-width: 1px;
  border: 1px solid #ffffff;
}

.omb-fuentes-item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #1b1b1b;
  margin: 0;
}
.omb-fuentes-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #1b1b1b;
  margin: 0;
  font-family: "Work sans", sans-serif;
}
.omb-botom-container {
  flex: 1;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.omb-botom-container button {
  height: 40px;
  background-color: var(--color-primario);
  font-family: "Work sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  width: auto;
  border-radius: 32px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.omb-botom-container button:hover {
  background-color: var(--color-secundario-hover);
  color: #fff;
}
.omb-botom-container button > span {
  display: flex;
  justify-content: start;
  align-items: start;
  width: auto;
  height: auto;
  position: relative;
  bottom: 2px;
  padding: 2px;
}

.omb-mapa-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
}
.omb-mapa-container {
  overflow: hidden;
  width: 1280px;
  height: 808px;
  border-radius: 16px;
  position: relative;
}
.omb-mapa-container img {
  width: 100%;
  object-fit: cover;
}

.omb-descripcion-mapa {
  position: absolute;
  border: 1px solid #bbbcae;
  border-radius: 16px 0px 0px 16px;
  border-right: 4px solid var(--color-primario);
  width: 455px;
  height: 232px;
  opacity: 0.7;
  gap: 8px;
  padding: 32px;
  right: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.omb-descripcion-mapa h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.omb-descripcion-mapa p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.omb-compartir-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.omb-compartir-content {
  width: 1280px;
  height: 116px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 20px;
  padding: 52px;
  background-color: #e6e6e6;
  box-sizing: border-box;
}

.omb-redes-sociales {
  width: 424px;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.omb-redes-sociales p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
}
.omb-lista-redes {
  display: flex;
  gap: 28px;
}
.omb-lista-redes a {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c531e;
  border-radius: 50%;
  padding: 8px;
}

.omb-contexto-section {
  display: flex;
  justify-content: center;
  color: #4d4d4d;
  padding-bottom: 40px;
}
.omb-contexto-content {
  width: 1280px;
  display: flex;
  gap: 16px;
}

.omb-contexto-section h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: #000;
}
.omb-contexto-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  font-family: "Work sans", sans-serif;
}
.omb-contexto-section ul {
  padding: 0px 0px 0px 20px;
}
.omb-contexto-section ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.omb-enlaces-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.omb-context-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.omb-lista-enlaces {
  width: 545px;
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.omb-enlace {
  display: flex;
  align-items: center;
}

.omb-enlace a {
  display: flex;
  align-items: start;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #acbd00;
  text-decoration: underline;
  font-family: "Work sans", sans-serif;
}
.omb-enlace a:hover {
  color: #a5ad4a;
}

.omb-otros-recursos-section {
  width: 100%;
  position: relative;
  background-color: #f3f4f1;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.omb-titulo-section {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
}

.omb-button-recursos-interes-prev,
.omb-button-recursos-interes-next {
  color: #565747 !important;
  background-color: #f3f4f1cc;
  width: 53px;
  height: 53px;
  border-radius: 8px;
  border-width: 1px;
  transition: all 0.5s ease;
  border: 1px solid #d9e36e;
}
.omb-button-recursos-interes-prev:hover,
.omb-button-recursos-interes-next:hover {
  color: black !important;
  background-color: var(--color-primario);
}
.omb-button-recursos-interes-prev {
  left: -100px;
}
.omb-button-recursos-interes-next {
  right: -100px;
}
.omb-button-recursos-interes-prev::after,
.omb-button-recursos-interes-next::after {
  font-size: 32px !important;
  font-weight: 900 !important;
}

.omb-recursos-interes-container {
  width: 1280px;
  position: relative;
}
.recursosInteresSwiper {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}
.omb-swiper-wrapper-recursos-interes {
  width: 100%;
}

.omb-swiper-slide-recursos-interes {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.omb-paginacion-recursos-interes {
  bottom: -32px !important;
}

/* Estilo base de los bullets */
.omb-paginacion-recursos-interes > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 2px solid #4b521d;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}

/* Bullet activo */
.omb-paginacion-recursos-interes > .swiper-pagination-bullet-active {
  background-color: #4b521d !important;
  border-color: #4b521d;
  transform: scale(1.2);
}
/* Estilo de la tarjeta de recursos */
.omb-card-recursos {
  width: 297px;
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 16px;
}
.omb-card-recursos:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-card-recursos img {
  width: 100%;
  height: 158px;
  border-radius: 8px;
}
.omb-card-recursos h5 {
  min-height: 53px;
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.9s ease-in;
}

.omb-card-recursos p {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: var(--color-texto);
  min-height: 72px;
}

.omb-botom-control-carrousel-recursos-interes {
  position: absolute;
  z-index: 20;
  bottom: -40px;
  left: 0;
  min-width: 120px;
  height: 34px;
  width: auto;
}

.omb-botom-control-carrousel-recursos-interes button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
}
