:root {
  --primario-yellow: #f9ffbd;
  --secundario-yellow: #dbf000;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
main {
  max-width: 100%;
  margin-top: 40px;
}
.omb-titulo-libro-mapa-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.omb-titulo-libro-mapa-container {
  width: 1280px;
  height: 85px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.omb-titulo-libro-mapa-container p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  width: 548px;
  height: 48px;
}
.omb-logo-libro-mapa {
  display: flex;
  align-items: center;
  border-right: 1px solid #d3d3ca;
  width: 295px;
  height: 85px;
  gap: 16px;
  border-right-width: 1px;
  padding-top: 8px;
  padding-right: 32px;
  padding-bottom: 8px;
  box-sizing: border-box;
}
.omb-logo-libro-mapa h2 {
  width: 152px;
  height: 56px;
}

.omb-libro-mapas-section {
  width: 100%;
  height: 739px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-image: url("http://149.130.178.89/media/78");
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: #eaedf5;
  padding-bottom: 40px;
}
.omb-decoracion {
  position: absolute;
  height: 32px;
  width: 100px;
  top: -4px;
}
.omb-decoracion-abajo {
  position: absolute;
  height: 32px;
  width: 100px;
  bottom: -32px;
}
.omb-decoracion img {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.3));
}

.omb-titulo-container-mapas {
  width: 544px;
  height: 59px;
  margin: 16px 0;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-left-width: 3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 44px;
  border-left: 4px solid var(--secundario-yellow);
  border-radius: 0 16px 16px 0;
}

.omb-map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 1280px;
}

.omb-map-card {
  width: 406px;
  height: 277px;
  gap: 12px;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
}
.omb-map-card:hover {
  border: 1px solid black;
}
.omb-map-card:hover .omb-descripcion-container {
  transform: translateY(-120px);
  border-top: 4px solid var(--secundario-yellow);
}
.omb-map-card:hover .omb-descripcion-number {
  background-color: var(--secundario-yellow);
}
.omb-map-card-img {
  width: 392px;
  height: 243px;
  border-radius: 8px;
}

.omb-map-card h5:hover {
  color: #bed000; /* Cambia el color al que desees */
}

.omb-descripcion-container {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  width: 100%;
  position: absolute;
  transform: translateY(-44px);
  transition: all 0.3s ease;
  left: 0;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 32px;
  gap: 24px;
  box-sizing: border-box;
  border-top: 4px solid transparent;
}

.omb-map-card:hover .omb-descripcion-container-variante {
  background-color: var(--secundario-yellow);
}

.omb-titulo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.omb-titulo-container h5 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #1b1b1b;
  margin: 0;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  text-decoration: underline;
}
.omb-descripcion-number {
  width: 30px;
  height: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.omb-map-card:hover .omb-descripcion-number-variante {
  background-color: #fff;
}

.omb-descripcion-container p {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  margin: 0;
  color: #1b1b1b;
  font-family: "Work sans", sans-serif;
  min-height: 76px;
  padding-left: 40px;
}

.omb-recursos-cartografico-section {
  width: 100%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.omb-recursos-container {
  width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.omb-titulo-container-recursos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
}
.omb-titulo-container-recursos h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
  text-align: center;
}
.omb-titulo-container-recursos p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #1a1a1a;
  text-align: center;
  margin-top: 0;
}
.omb-card-recursos-container {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.omb-card-recursos {
  width: 287px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 16px;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.28);
  border: 1px solid transparent;
}
.omb-card-recursos:hover {
  border: 1px solid black;
  transform: scale(1.01);
  gap: 11px;
  padding-bottom: 0px;
}
.omb-card-recursos img {
  width: 100%;
  height: 158px;
  border-radius: 8px;
}
.omb-card-recursos h5 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #1b1b1b;
  margin: 0;
  min-height: 54px;
  padding: 0px 16px;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
}
.omb-card-recursos p {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  margin: 0;
  padding: 0px 16px;
  color: #4d4d4d;
  font-family: "Work sans", sans-serif;
  min-height: 72px;
}
