:root {
  --color-primario-soft: #f9ffbd;
  --color-primario: #dbf000;
  --color-secundario-hover: #8e9c00;
  --color-texto: #1b1b1b;
  --color-enlace: #acbd00;
  --color-enlace-hover: #a5ad4a;
}
a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.omb-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.omb-section--de-interes {
  background-color: var(--color-fondo-seccion-intreres);
}

.omb-section--home-publicaciones {
  width: 100%;
  background-color: #fff;
  height: 760px;
  flex-direction: column;
  align-items: center;
  background-image: url("http://149.130.178.89/media/119");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.omb-title-container {
  width: 1280px;
}
.omb-titulo-section {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.omb-publicaciones-container {
  width: 1280px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
}
.omb-button-container {
  width: 1280px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding-left: 640px;
}
.omb-boton {
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  border-width: 0.125rem;
  border-style: solid;
  color: var(--color-texto);
  cursor: pointer;
}
.omb-boton--primario {
  background-color: var(--color-primario);
  border-color: var(--color-primario);
}
.omb-boton--con-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.omb-boton:hover {
  background-color: var(--color-secundario-hover);
  border-color: var(--color-texto);
  color: white;
}

.omb-swipper {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

.omb-swiper--home-publicaciones {
  width: 75%;
  padding: 4px;
  box-sizing: border-box;
  margin: 0;
}

.omb-wrapper {
  width: 100%;
}

.omb-swiper-slide {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.omb-swiper-slide--indicadores-home {
  height: 240px;
}

.omb-paginacion {
  bottom: -32px !important;
}
.omb-paginacion--publicaciones-home {
  position: relative !important;
  bottom: 0px !important;
  text-align: start;
}

.omb-paginacion > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 2px solid #4b521d;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}
/* Bullet activo */
.omb-paginacion > .swiper-pagination-bullet-active {
  background-color: #4b521d !important;
  border-color: #4b521d;
  transform: scale(1.2);
}
.omb-botom-control-carrousel {
  position: absolute;
  z-index: 20;
  bottom: -40px;
  min-width: 120px;
  height: 34px;
  width: auto;
  cursor: pointer;
}

.omb-botom-control-carrousel button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.omb-boton-prev {
  left: -100px;
}

.omb-boton-next {
  right: -100px;
}

.omb-boton-prev,
.omb-boton-next {
  color: #565747 !important;
  background-color: #f3f4f1cc;
  width: 53px;
  height: 53px;
  border-radius: 8px;
  border-width: 1px;
  transition: all 0.5s ease;
  border: 1px solid #d9e36e;
}
.omb-boton-prev--publicaciones-home {
  left: -100px;
}
.omb-boton-next--publicaciones-home {
  right: 220px;
}
.omb-boton-prev:hover,
.omb-boton-next:hover {
  color: black !important;
  background-color: var(--color-primario);
}

.omb-boton-prev::after,
.omb-boton-next::after {
  font-size: 32px;
  font-weight: 900;
}

.omb-contenedor-buttones-sitios-relacionados {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.omb-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 16px;
}

.omb-card--pequeña {
  width: 297px;
}
.omb-card:hover {
  border: 1px solid black;
  transform: scale(1.01);
}
.omb-imagen-card {
  width: 100%;
}
.omb-imagen-card--pequeña {
  height: 158px;
}

.omb-titulo-card {
  font-weight: 600;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;
  padding: 0px 16px;
  transition: all 0.9s ease-in;
}

.omb-titulo-card--dos-lineas {
  height: 53px;
}

.omb-parrafo-card {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  padding: 0px 16px;
  color: black;
  min-height: 72px;
}

.omb-section--home-sitios-relacionados {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  height: 380px;
  box-sizing: border-box;
  z-index: 1;
}
.omb-sitios-relacionados-container {
  width: 1280px;
  position: relative;
  top: -160px;
}

.omb-fondo-sitios-relacionados {
  position: absolute;
  top: -258px;
  z-index: -1;
  width: 100%;
}

.omb-texto-sitios-relacionados-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  margin-top: 80px;
}
.omb-titulo-section--centrado {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: var(--color-texto);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.omb-decoracion-lineas-sitios-relacionados {
  width: 100%;
  display: flex;
  justify-content: center;
}
.omb-parrafo-descripcion-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-texto);
  font-family: "Work Sans", sans-serif;
  text-align: center;
}
.omb-sitios-relacionados-container {
  width: 1280px;
  position: relative;
}

.omb-card-sitios-relacionados {
  width: 400px;
  height: 185px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid transparent;
  background-color: #fff;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

.omb-card-sitios-relacionados:hover {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border: 1px solid black;
  transform: scale(1.01);
}

.omb-suscripcion-section {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("http://149.130.178.89/media/132");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.omb-fondo-suscripcion-section {
  position: absolute;
  bottom: 180px;
  width: 100%;
}
.omb-suscripcion-container {
  width: 1280px;
  display: flex;
  align-items: center;
  margin-top: 100px;
  position: absolute;
  z-index: 10;
}

.omb-texto {
  width: 701px;
  height: 98px;
}

.omb-texto h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 8px;
}
.omb-texto p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0;
}
.omb-suscripcion-decoracion {
  height: 39px;
  display: flex;
  align-items: center;
}
.omb-input-container {
  flex: 1;
  display: flex;
  gap: 2px;
  align-items: center;
}
.omb-input-container input {
  width: 455px;
  height: 40px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #d3d3ca;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  vertical-align: middle;
}
.omb-input-container button {
  height: 40px;
  gap: 6px;
  border: 1px solid transparent;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--color-primario);
  color: #4c541b;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease-in;
  border: 1px solid transparent;
}

.omb-input-container button:hover {
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
}
footer {
  width: 100%;
  background-color: var(--color-primario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.omb-footer-container {
  width: 1280px;
  background-color: #fff;
  padding: 80px;
  box-sizing: border-box;
  height: 750px;
  position: relative;
  top: -160px;
}
.omb-info-footer-content {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.omb-info-footer h2 {
  font-weight: 600;
  color: var(--color-enlace);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.688rem;

  transition: all 0.9s ease-in;
}
.omb-info-footer p {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
  color: var(--color-enlace);
  margin-top: 4px;
}
.omb-info-footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
}
.omb-info-footer ul li {
  font-size: 1rem;
  font-family: "Work sans", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  line-height: 1.5rem;
}

.omb-redes-sociales-footer-container {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 32px;
}
.omb-redes-sociales-footer-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-enlace);
  border-left: 2px solid var(--color-enlace);
  padding-left: 16px;
  box-sizing: border-box;
  gap: 4px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  height: 60px;
}
.omb-redes-sociales-footer-container a:hover {
  color: var(--color-enlace-hover);
}
.omb-redes-sociales-footer-container a:hover .omb-icono-redes-footer {
  background-color: var(--color-enlace-hover);
}
.omb-redes-sociales-footer-container a:first-child {
  border-left: none;
  padding-left: 0;
}
.omb-icono-redes-footer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  background-color: var(--color-enlace);
}
.omb-enlaces-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.omb-enlaces-footer-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-enlace);
  box-sizing: border-box;
  gap: 4px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  height: 60px;
  text-decoration: underline;
}
.omb-enlaces-footer-container a:hover {
  color: var(--color-enlace-hover);
}
.omb-log-govco-container {
  width: 100%;
  height: 80px;
  gap: 16px;
  background-color: #3266b1;
  display: flex;
  align-items: center;
  padding-left: 64px;
  box-sizing: border-box;
}
