:root {
  --primario-yellow: #f9ffbd;
  --secundario-yellow: #dbf000;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.omb-fondo-explorar-publicaciones-slide {
  width: 100%;
  position: absolute;
}

.omb-explora-publicacion-section {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 40px;
}
.omb-fondo-explorar-publicaciones-slide {
  width: 100%;
  position: absolute;

  transform: rotate(180deg);
  z-index: -1;
}

.omb-explora-publicaciones-container {
  width: 1280px;
}
.omb-wrapper-publicaciones-explorar {
  display: flex;
  height: auto;
}
.omb-swiper-slide-publicaciones-explorar {
  width: 406px !important;
}

.omb-explora-texto-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
}

.omb-explora-texto-container h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
}
.omb-explora-texto-container p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  width: 100%;
}
.omb-explora-texto-container h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  margin: 0;
  text-align: start;
}
.omb-publicaciones-explorar-container {
  width: 1280px;
  position: relative;
  margin-top: 20px;
}
.omb-pagination-publicaciones-explorar {
  bottom: -40px !important;
}
.omb-pagination-publicaciones-explorar > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white !important;
  border: 2px solid #4b521d;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}

/* Bullet activo */
.omb-pagination-publicaciones-explorar > .swiper-pagination-bullet-active {
  background-color: #4b521d !important;
  border-color: #4b521d;
  transform: scale(1.2);
}
.omb-botom-control-carrousel-publicaciones {
  position: absolute;
  z-index: 20;
  bottom: -50px;
  left: 0;
  min-width: 120px;
  height: 34px;
  width: auto;
}

.omb-botom-control-carrousel-publicaciones button {
  color: #565747;
  border-radius: 8px;
  font-family: "Worl sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  display: flex;
  padding: 8px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
}

.omb-contenedor-buttones-publicaciones-explorar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.omb-boton-publicaciones-prev {
  left: -150px;
}
.omb-boton-publicaciones-next {
  right: -150px;
}
.omb-boton-publicaciones-prev,
.omb-boton-publicaciones-next {
  color: #565747 !important;
  background-color: #f3f4f1cc;
  width: 53px;
  height: 53px;
  border-radius: 8px;
  border-width: 1px;
  transition: all 0.9 ease;
  top: 110px !important;
  border: 1px solid #d9e36e;
}
.omb-boton-publicaciones-prev:hover,
.omb-boton-publicaciones-next:hover {
  color: black !important;
  background-color: var(--secundario-yellow);
}

.omb-boton-publicaciones-prev::after,
.omb-boton-publicaciones-next::after {
  font-size: 32px;
  font-weight: 900;
}

.omb-card-explorar-publicaciones {
  width: 406px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.omb-imagen-card-explorar-publicaciones {
  border-radius: 16px;
  overflow: hidden;
  height: 260px;
  display: block;
}
.omb-imagen-card-explorar-publicaciones img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.omb-card-content-explorar-publicaciones {
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.4s ease;
  overflow: hidden;
}
.omb-texto-card-content {
  display: flex;
  gap: 8px;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}

.omb-texto-card-content h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  vertical-align: bottom;
  height: 43.2px;
  margin: 0;
  text-decoration: underline;
  font-family: "Work Sans", sans-serif;
  color: #acbd00;
  display: flex;
  align-items: center;
  gap: 8px;
}
.omb-ver-documentos-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.omb-boton-ver-documento {
  background-color: var(--secundario-yellow);
  font-family: "Work sans" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  width: auto;
  border-radius: 32px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.omb-boton-ver-documento:hover {
  background-color: #c4d600;
  color: white;
}

.omb-categoria-publicaciones-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
}
.omb-titulo-categoria-publicaciones-container {
  width: 1280px;
}
.omb-titulo-categoria-publicaciones-container h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: start;
  margin: 0px 0px 40px 0px;
}
.omb-categorias-publicaciones-container {
  width: 1280px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.omb-categorias-publicaciones-container a {
  text-decoration: none;
  color: inherit;
}
.omb-card-categoria-publicaciones {
  width: 406px;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  transition: box-shadow 0.5s ease;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  transition: all 0.5s ease;
}
.omb-card-categoria-publicaciones:hover {
  border-color: black;
}

.card:focus {
  border-color: black;
}

.omb-card-categoria-publicaciones:hover h5 {
  color: #acbd00;
}
.omb-icono-card-publicaciones-container {
  width: 113px;
}
.omb-icono-content {
  width: 113px;
  height: 113px;
  border-radius: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(222.15deg, #f0ff57 0%, #c4d600 100.91%);
}
.omb-texto-card-publicaciones {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  flex: 1;
}
.omb-texto-card-publicaciones h5 {
  font-weight: 500;
  margin: 0px;
  transition: all 0.9 ease-in;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
}
.omb-texto-card-publicaciones p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* número de líneas visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.omb-enlace-ver-articulo {
  border: none;
  background-color: inherit;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #acbd00;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: underline;
}
